<div style="border: 1px solid #EEE8E8; border-radius: 6px;" class="">
	<div ng-show="providers_pickup_address.length == 0" style="padding:40px; opacity: .8; margin:40px; margin-bottom: 1px; color: rgb(80, 74, 74);background-color:#F1F1F1; letter-spacing: 1px;" class="row">
    <div class="col-md-12">
      <div class="no-message">
        <center>
          <p style="font-size: 14px;">You have not added any pickup addresses to your seller account.</p>      
          <p style="font-size: 12px;">To start managing please add atleast one pickup addresses. Your list of pickup addresses and other related information will be shown here. You can add multiple pickup locations.</p>
        </center>
      </div>
    </div>
  </div>

  <div style="margin:25px;" class="row">
    <div class="col-md-12">
      <div style="letter-spacing:1px;">
        <h4 style=" text-transform:uppercase; color: #8A847C;" id="oz-signin-heading">Add Pickup Address</h4>
      </div>
      <hr size=3 width="100%;" style="height:1px; margin-top: 0;" noshade>
      <br>
      <form class="css-form" name="form.addPickupAddress" role="form" novalidate>      
        <table class="table table-hover">
          <tbody>
            <tr>
              <td width="20%;">
                <input type="text" name="addressline1" class="form-control" ng-model="pickup.address1" placeholder="address line1" autofocus required>
                <small style="color:red;" ng-show="((form.addPickupAddress.addressline1.$dirty && form.addPickupAddress.addressline1.$invalid) || (form.addPickupAddress.addressline1.$invalid && form.addPickupAddress.submitted))">*Please enter address line 1!</small>
                <br>
                <input type="text" name="addressline2" class="form-control" ng-model="pickup.address2" placeholder="address line2" required>
                <small style="color:red;" ng-show="((form.addPickupAddress.addressline2.$dirty && form.addPickupAddress.addressline2.$invalid) || (form.addPickupAddress.addressline2.$invalid && form.addPickupAddress.submitted))">*Please enter address line 2!</small>
              </td>
              <td width="15%;">
                <input type="text" name="country" class="form-control" ng-model="pickup.country" placeholder="country" required>
                <small style="color:red;" ng-show="((form.addPickupAddress.country.$dirty && form.addPickupAddress.country.$invalid) || (form.addPickupAddress.country.$invalid && form.addPickupAddress.submitted))">*Please enter country!</small>
              </td>
              <td width="15%;">
                <input name="state" class="form-control" type="text" placeholder="state" required ng-model="pickup.state" typeahead="state for state in states | filter:$viewValue | limitTo:6" typeahead-on-select="getCityForState(pickup.state)" />
                <small style="color:red;" ng-show="((form.addPickupAddress.state.$dirty && form.addPickupAddress.state.$invalid) || (form.addPickupAddress.state.$invalid && form.addPickupAddress.submitted))">*Please enter state!</small>
              </td>
              <td width="15%;">
                <input name="city" class="form-control" type="text" placeholder="city" required ng-model="pickup.city" typeahead="city for city in cities | filter:$viewValue | limitTo:6" typeahead-on-select="getZipcodeForCity(pickup.city)" />
                <small style="color:red;" ng-show="((form.addPickupAddress.city.$dirty && form.addPickupAddress.city.$invalid) || (form.addPickupAddress.city.$invalid && form.addPickupAddress.submitted))">*Please enter city!</small>
              </td>
              <td width="15%;">
                <input name="zipcode" class="form-control" type="text" ng-pattern="/^[0-9]{6}$/" ng-model="pickup.zipcode" placeholder="zipcode" required typeahead="zipcode for zipcode in zipcodes | filter:$viewValue | limitTo:6" typeahead-on-select="getAreaForZipcode(pickup.zipcode)"/>
                <small style="color:red;" ng-show="((form.addPickupAddress.zipcode.$dirty && form.addPickupAddress.zipcode.$invalid) || (form.addPickupAddress.zipcode.$invalid && form.addPickupAddress.submitted))">*Please enter zipcode and must be a 6 digit number only!</small>
              </td>
              <td width="15%;">
                <input type="text" name="area" class="form-control" ng-model="pickup.area" placeholder="area" required typeahead="area for area in Areas | filter:$viewValue | limitTo:6">
                <small style="color:red;" ng-show="((form.addPickupAddress.area.$dirty && form.addPickupAddress.area.$invalid) || (form.addPickupAddress.area.$invalid && form.addPickupAddress.submitted))">*Please enter area!</small>
              </td>              
              
              <td width="5%;">
                <button type="submit" class="btn btn-primary btn-sm" ng-click="addPickupAddress()">Add</button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>  
    </div>
  </div>
  <br>
  <br>
  <div ng-show="providers_pickup_address.length !== 0" style="margin:25px;" class="row">
  	<div class="col-md-12">
  		<div style="letter-spacing:1px;">
				<h4 style=" text-transform:uppercase; color: #8A847C;" id="oz-signin-heading">List of Pickup Addresses</h4>
			</div>
			<hr size=3 width="100%;" style="height:1px; margin-top: 0;" noshade>
			<br>
      <form class="css-form" name="form.editPickupAddress" role="form" novalidate>   
    		<table class="table table-hover">
    			<thead>
    				<tr>
    					<th width="20%;">Address Line</th>
    					<th width="15%;">Area</th>
    					<th width="15%;">City</th>
    					<th width="15%;">State</th>
    					<th width="15%;">Country</th>
    					<th width="10%;">Zipcode</th>
    					<th width="10%;"></th>
    				</tr>
    			</thead>
    			<tbody>
    				<tr ng-repeat="address in providers_pickup_address">
    					<td ng-show="(CurrentAddressIndex !== $index)">{{address.address1 }},{{ address.address2}}</td>
              <td ng-show="(editAddress && (CurrentAddressIndex == $index))">
                <input type="text" name="editaddressline1" class="form-control" ng-model="editpickup.address1" placeholder="address line1" autofocus required>
                <small style="color:red;" ng-show="((form.editPickupAddress.editaddressline1.$dirty && form.editPickupAddress.editaddressline1.$invalid) || (form.editPickupAddress.editaddressline1.$invalid && form.editPickupAddress.submitted))">*Please enter address line 1!</small>
                <br>
                <input type="text" name="editaddressline2" class="form-control" ng-model="editpickup.address2" placeholder="address line2" required>
                <small style="color:red;" ng-show="((form.editPickupAddress.editaddressline2.$dirty && form.editPickupAddress.editaddressline2.$invalid) || (form.editPickupAddress.editaddressline2.$invalid && form.editPickupAddress.submitted))">*Please enter address line 2!</small>
              </td>
    					<td ng-show="(CurrentAddressIndex !== $index)">{{address.area}}</td>
              <td ng-show="(editAddress && (CurrentAddressIndex == $index))">
                <input type="text" name="editarea" class="form-control" ng-model="editpickup.area" placeholder="area" required>
                <small style="color:red;" ng-show="((form.editPickupAddress.editarea.$dirty && form.editPickupAddress.editarea.$invalid) || (form.editPickupAddress.editarea.$invalid && form.editPickupAddress.submitted))">*Please enter area!</small>
              </td>
              <td ng-show="(CurrentAddressIndex !== $index)">{{address.city}}</td>
              <td ng-show="(editAddress && (CurrentAddressIndex == $index))">
                <input type="text" name="editcity" class="form-control" ng-model="editpickup.city" placeholder="city" required>
                <small style="color:red;" ng-show="((form.editPickupAddress.editcity.$dirty && form.editPickupAddress.editcity.$invalid) || (form.editPickupAddress.editcity.$invalid && form.editPickupAddress.submitted))">*Please enter city!</small>
              </td>
              <td ng-show="(CurrentAddressIndex !== $index)">{{address.state}}</td>
              <td ng-show="(editAddress && (CurrentAddressIndex == $index))">
                <input type="text" name="editstate" class="form-control" ng-model="editpickup.state" placeholder="state" required>
                <small style="color:red;" ng-show="((form.editPickupAddress.editstate.$dirty && form.editPickupAddress.editstate.$invalid) || (form.editPickupAddress.editstate.$invalid && form.editPickupAddress.submitted))">*Please enter state!</small>
              </td>
              <td ng-show="(CurrentAddressIndex !== $index)">{{address.country}}</td>
              <td ng-show="(editAddress && (CurrentAddressIndex == $index))">
                <input type="text" name="editcountry" class="form-control" ng-model="editpickup.country" placeholder="country" required>
                <small style="color:red;" ng-show="((form.editPickupAddress.editcountry.$dirty && form.editPickupAddress.editcountry.$invalid) || (form.editPickupAddress.editcountry.$invalid && form.editPickupAddress.submitted))">*Please enter country!</small>
              </td>
              <td ng-show="(CurrentAddressIndex !== $index)">{{address.zipcode}}</td>
              <td ng-show="(editAddress && (CurrentAddressIndex == $index))">
                <input type="text" name="editzipcode" class="form-control" ng-pattern="/^[0-9]{6}$/" ng-model="editpickup.zipcode" placeholder="zipcode" required>
                <small style="color:red;" ng-show="((form.editPickupAddress.editzipcode.$dirty && form.editPickupAddress.editzipcode.$invalid) || (form.editPickupAddress.editzipcode.$invalid && form.editPickupAddress.submitted))">*Please enter zipcode and must be a 6 digit number only!</small>
              </td>
    					<td ng-show="(CurrentAddressIndex !== $index)">
  	  					<a href="" ng-click="enableEditAddress($index, address)"><i class="fa fa-pencil"></i></a>
  	  					&nbsp;&nbsp;&nbsp;&nbsp;
  	  					<a href="" ng-click="deletePickupAddress(address.addressid)"><i class="fa fa-trash-o"></i></a>
  	  				</td>
              <td ng-show="(editAddress && (CurrentAddressIndex == $index))">
                <a href="" ng-click="cancelEnableEditAddress()"><i class="fa fa-times"></i></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="" ng-click="editPickupAddress(address.addressid)"><i class="fa fa-save"></i></a>
              </td>
    				</tr>
    			</tbody>
    		</table>
      </form>  
  	</div>
  </div>
</div>