<div style="border: 1px solid #EEE8E8; border-radius:6px; padding:10px;" class="">
<!--  Tabs for policy-->




<div id="tabs" ng-show="branches.length>0">
    <ul id="tabPrice" class=" policyTab nav nav-pills" ng-init="tabForPolicy.op = true;
      tabForPolicy.rp = false; tabForPolicy.pp = false;tabForPolicy.dp = false;tabForPolicy.cp = false" >
      <li class="tabPolicyLi" ng-class="{active3 : tabForPolicy.op == 1}" >
        <a  class="prodo-cursor" id="prodoCommentTab" ng-click="getOP();tabForPolicy.op = true;
      tabForPolicy.rp = false; tabForPolicy.pp = false;tabForPolicy.dp = false;tabForPolicy.cp = false">
         Ordering Policy
        </a>
      </li>

      <li class="tabPolicyLi" ng-class="{active3 : tabForPolicy.rp == 1}"  >
        <a id="prodoCommentSearchTab" class="prodo-cursor" ng-click="getRP();tabForPolicy.op = false;
      tabForPolicy.rp = true; tabForPolicy.pp = false;tabForPolicy.dp = false;tabForPolicy.cp = false" >
     	 Refunds Policy
         </a>
      </li>

       <li class="tabPolicyLi" ng-class="{active3 : tabForPolicy.pp == 1}"  >
        <a id="prodoCommentSearchTab" class="prodo-cursor" ng-click="getPP();tabForPolicy.op = false;
      tabForPolicy.rp = false; tabForPolicy.pp = true;tabForPolicy.dp = false;tabForPolicy.cp = false" >
      	 Price Policy
         </a>
      </li>

       <li class="tabPolicyLi" ng-class="{active3 : tabForPolicy.dp == 1}"  >
        <a id="prodoCommentSearchTab" class="prodo-cursor" ng-click="getDP();tabForPolicy.op = false;
      tabForPolicy.rp = false; tabForPolicy.pp = false;tabForPolicy.dp = true;tabForPolicy.cp = false" >
      	Delivery Policy
         </a>
      </li>

      <li class="tabPolicyLi" ng-class="{active3 : tabForPolicy.cp == 1}"  >
        <a id="prodoCommentSearchTab" class="prodo-cursor" ng-click="getCP();tabForPolicy.op = false;
      tabForPolicy.rp = false; tabForPolicy.pp = false;tabForPolicy.dp = false;tabForPolicy.cp = true">
     	 Cancellation Policy
         </a>
      </li>



     </ul>
</div>
<div class="tab-content" ng-show="selectedBranchId  ">

 <div id="Remove" ng-show="tabForPolicy.op == true" >
    <br/>
    <div ng-show="opAddEditor==1 && opEditor==0">  <!-- ng-show if no op added -->
      
        
         <div  class=" OZ-PolicyNotAddedMsg row">
          <div class="col-md-12">
          <button class = 'btn btn-info pull-right' ng-click = "opEditor=1">Add Ordering Policy</button>
           <div class="no-message">
            <center>
              <p style="font-size: 14px;">Ordering Policy</p>      
              <p style="font-size: 12px;">Currently no ordering policy added</p>
             </center>
            </div>
           </div>
          </div>

       
    </div>
    
    <div ng-show="opEditor==1">
      <text-angular name="opadd" ta-toolbar-button-class="texteditor-btn btn btn-default" ta-toolbar="[['h1','h2','h3', 'h4', 'h5', 'h6', 'p', 'quote','bold','italics','underline','ul', 'ol', 'undo', 'redo', 'clear', 'justifyLeft', 'justifyCenter', 'justifyRight']]" ng-model="new_ordering_policy"></text-angular><br/>
      

      <a   ng-click="addPolicyOP(new_ordering_policy)" class="btn btn-primary   pull-right prodo-margin5"   ><i class="fa fa-floppy-o"></i>  &nbsp; Save</a>
      
      <a class="btn btn-default   pull-right prodo-margin5"  ng-click = "cancelOP()" > <i class="glyphicon glyphicon-remove"></i> &nbsp; Cancel </a>



      <br/><br/><br/>
    </div>

    
      <div ng-show="opEditorEdit==1">
      <text-angular name="opedit" ta-toolbar-button-class="texteditor-btn btn btn-default" ta-toolbar="[['h1','h2','h3', 'h4', 'h5', 'h6', 'p', 'quote','bold','italics','underline','ul', 'ol', 'undo', 'redo', 'clear', 'justifyLeft', 'justifyCenter', 'justifyRight']]" ng-model="ordering_policy"></text-angular><br/>
      

         <a   ng-click="editPolicyOP(ordering_policy)" class="btn btn-primary   pull-right prodo-margin5"   ><i class="fa fa-floppy-o"></i>  &nbsp; Save</a>
      
        <a class="btn btn-default   pull-right prodo-margin5"  ng-click = "cancelOP()" > <i class="glyphicon glyphicon-remove"></i> &nbsp; Cancel </a>


      <br/><br/><br/>
    </div>

    <div ng-hide="(opEditor==1 || opEditorEdit==1 || opAddEditor==1 )" >
        <div ng-bind-html = "ordering_policy"  class="oz-policyContent"></div>
        <br/>
        <button class = "btn btn-info pull-right" ng-click = "onOp();">Edit</button>
        <br/><br/><br/>
    </div>
  </div>

<!-- ////////////////////////////////////////////////////////////////////////////////// -->

  <div id="Remove" ng-show="tabForPolicy.rp == true" >

     <br/>
    <div ng-show="rpAddEditor==1 && rpEditor==0">  

        <div  class=" OZ-PolicyNotAddedMsg row">
          <div class="col-md-12">
          <button class = 'btn btn-info pull-right' ng-click = "rpEditor=1">Add Refunds Policy</button>
           <div class="no-message">
            <center>
              <p style="font-size: 14px;">Refunds Policy</p>      
              <p style="font-size: 12px;">Currently no refunds policy added</p>
             </center>
            </div>
           </div>
          </div>

    </div>
    
    <div ng-show="rpEditor==1">
      <text-angular name="rpadd" ta-toolbar-button-class="texteditor-btn btn btn-default" ta-toolbar="[['h1','h2','h3', 'h4', 'h5', 'h6', 'p', 'quote','bold','italics','underline','ul', 'ol', 'undo', 'redo', 'clear', 'justifyLeft', 'justifyCenter', 'justifyRight']]" ng-model="new_refunds_policy"></text-angular><br/>


        <a   ng-click="addPolicyRP(new_refunds_policy)" class="btn btn-primary   pull-right prodo-margin5"   ><i class="fa fa-floppy-o"></i>  &nbsp; Save</a>
      
        <a class="btn btn-default   pull-right prodo-margin5"  ng-click = "cancelRP()" > <i class="glyphicon glyphicon-remove"></i> &nbsp; Cancel </a>


      <br/><br/><br/>
    </div>

    
      <div ng-show="rpEditorEdit==1">
      <text-angular name="rpedit" ta-toolbar-button-class="texteditor-btn btn btn-default" ta-toolbar="[['h1','h2','h3', 'h4', 'h5', 'h6', 'p', 'quote','bold','italics','underline','ul', 'ol', 'undo', 'redo', 'clear', 'justifyLeft', 'justifyCenter', 'justifyRight']]" ng-model="refunds_policy"></text-angular>
        <br/>

        <a   ng-click="editPolicyRP(refunds_policy)" class="btn btn-primary   pull-right prodo-margin5"   ><i class="fa fa-floppy-o"></i>  &nbsp; Save</a>
      
        <a class="btn btn-default   pull-right prodo-margin5"  ng-click = "cancelRP()" > <i class="glyphicon glyphicon-remove"></i> &nbsp; Cancel </a>


     
      <br/><br/><br/>
    </div>

    <div ng-hide="(rpEditor==1 || rpEditorEdit==1 || rpAddEditor==1 )" >
        <div ng-bind-html = "refunds_policy" class="oz-policyContent"></div>
        <br/>
        <button class = 'btn btn-info pull-right' ng-click = "onRp();">Edit</button>
        <br/><br/><br/>
    </div>

  </div>

<!-- ////////////////////////////////////////////////////////////////////////////////// -->


   <div id="Remove" ng-show="tabForPolicy.pp == true" >
    
    <br/>
    <div ng-show="ppAddEditor==1 && (ppEditor==0 )">  

        <div  class=" OZ-PolicyNotAddedMsg row">
          <div class="col-md-12">
           <button class = 'btn btn-info pull-right' ng-click = "ppEditor=1">Add Price Policy</button>
           <div class="no-message">
            <center>
              <p style="font-size: 14px;">Price Policy</p>      
              <p style="font-size: 12px;">Currently no price policy added</p>
             </center>
            </div>
           </div>
          </div>

    </div>
    
    <div ng-show="ppEditor==1">
      <text-angular name="ppadd" ta-toolbar-button-class="texteditor-btn btn btn-default" ta-toolbar="[['h1','h2','h3', 'h4', 'h5', 'h6', 'p', 'quote','bold','italics','underline','ul', 'ol', 'undo', 'redo', 'clear', 'justifyLeft', 'justifyCenter', 'justifyRight']]" ng-model="new_price_policy"></text-angular><br/>
 
        <a   ng-click="addPolicyPP(new_price_policy)" class="btn btn-primary   pull-right prodo-margin5"   ><i class="fa fa-floppy-o"></i>  &nbsp; Save</a>
      
        <a class="btn btn-default   pull-right prodo-margin5"  ng-click = "cancelPP()" > <i class="glyphicon glyphicon-remove"></i> &nbsp; Cancel </a>

       <br/><br/><br/>
    </div>

    
      <div ng-show="ppEditorEdit==1">
      <text-angular name="ppedit" ta-toolbar-button-class="texteditor-btn btn btn-default" ta-toolbar="[['h1','h2','h3', 'h4', 'h5', 'h6', 'p', 'quote','bold','italics','underline','ul', 'ol', 'undo', 'redo', 'clear', 'justifyLeft', 'justifyCenter', 'justifyRight']]" ng-model="price_policy"></text-angular>
        <br/>

        <a   ng-click="editPolicyPP(price_policy)" class="btn btn-primary   pull-right prodo-margin5"   ><i class="fa fa-floppy-o"></i>  &nbsp; Save</a>
      
        <a class="btn btn-default   pull-right prodo-margin5"  ng-click = "cancelPP()" > <i class="glyphicon glyphicon-remove"></i> &nbsp; Cancel </a>

        <br/><br/><br/>
      </div>

    <div  ng-hide="(ppEditor==1 || ppEditorEdit==1 || ppAddEditor==1 )" >
        <div ng-bind-html = "price_policy" class="oz-policyContent"></div>
        <br/>
        <button class = 'btn btn-info pull-right' ng-click = "onPp();">Edit</button>
        <br/><br/><br/>
    </div>
 
  </div>

<!-- ////////////////////////////////////////////////////////////////////////////////// -->


  <div id="Remove" ng-show="tabForPolicy.dp == true" >
    <br/>
    <div ng-show="dpAddEditor==1 && (dpEditor==0 )"> 

        <div  class=" OZ-PolicyNotAddedMsg row">
          <div class="col-md-12">
           <button class = 'btn btn-info pull-right' ng-click = "dpEditor=1">Add Delivery Policy</button>
           <div class="no-message">
            <center>
              <p style="font-size: 14px;">Delivery Policy</p>      
              <p style="font-size: 12px;">Currently no delivery policy added</p>
             </center>
            </div>
           </div>
          </div>
      
    </div>
    
    <div ng-show="dpEditor==1">
      <text-angular name="dpadd" ta-toolbar-button-class="texteditor-btn btn btn-default" ta-toolbar="[['h1','h2','h3', 'h4', 'h5', 'h6', 'p', 'quote','bold','italics','underline','ul', 'ol', 'undo', 'redo', 'clear', 'justifyLeft', 'justifyCenter', 'justifyRight']]" ng-model="new_delivery_policy"></text-angular><br/>
      
       <a   ng-click="addPolicyDP(new_delivery_policy)" class="btn btn-primary   pull-right prodo-margin5"   ><i class="fa fa-floppy-o"></i>  &nbsp; Save</a>
      
        <a class="btn btn-default   pull-right prodo-margin5"  ng-click = "cancelDP()" > <i class="glyphicon glyphicon-remove"></i> &nbsp; Cancel </a>
     
      <br/><br/><br/>
    </div>

    
      <div ng-show="dpEditorEdit==1">
      <text-angular name="dpedit" ta-toolbar-button-class="texteditor-btn btn btn-default" ta-toolbar="[['h1','h2','h3', 'h4', 'h5', 'h6', 'p', 'quote','bold','italics','underline','ul', 'ol', 'undo', 'redo', 'clear', 'justifyLeft', 'justifyCenter', 'justifyRight']]" ng-model="delivery_policy"></text-angular>
        <br/>

         <a   ng-click="editPolicyDP(delivery_policy)" class="btn btn-primary   pull-right prodo-margin5"   ><i class="fa fa-floppy-o"></i>  &nbsp; Save</a>
      
         <a class="btn btn-default   pull-right prodo-margin5"  ng-click = "cancelDP()" > <i class="glyphicon glyphicon-remove"></i> &nbsp; Cancel </a>

      <br/><br/><br/>
    </div>

    <div  ng-hide="(dpEditor==1 || dpEditorEdit==1 || dpAddEditor==1 )" >
        <div ng-bind-html = "delivery_policy" class="oz-policyContent"></div>
        <br/>
        <button class = 'btn btn-info pull-right' ng-click = "onDp();">Edit</button>
        <br/><br/><br/>
    </div>

  </div>

<!-- ////////////////////////////////////////////////////////////////////////////////// -->


   <div id="Remove" ng-show="tabForPolicy.cp == true" >
     <br/>
    <div ng-show="cpAddEditor==1 && (cpEditor==0 )"> 

       <div  class=" OZ-PolicyNotAddedMsg row">

          <div class="col-md-12">
           <button class = 'btn btn-info pull-right' ng-click = "cpEditor=1">Add Cancellation Policy</button>
           <div class="no-message">
            <center>
              <p style="font-size: 14px;">Cancellation Policy</p>      
              <p style="font-size: 12px;">Currently no cancellation policy added</p>
             </center>
            </div>
           </div>
          </div>

    </div>
    
    <div ng-show="cpEditor==1">
      <text-angular name="cpadd" ta-toolbar-button-class="texteditor-btn btn btn-default" ta-toolbar="[['h1','h2','h3', 'h4', 'h5', 'h6', 'p', 'quote','bold','italics','underline','ul', 'ol', 'undo', 'redo', 'clear', 'justifyLeft', 'justifyCenter', 'justifyRight']]" ng-model="new_cancellation_policy"></text-angular><br/>

         <a   ng-click="addPolicyCP(new_cancellation_policy)" class="btn btn-primary   pull-right prodo-margin5"   ><i class="fa fa-floppy-o"></i>  &nbsp; Save</a>
      
         <a class="btn btn-default   pull-right prodo-margin5"  ng-click = "cancelCP()" > <i class="glyphicon glyphicon-remove"></i> &nbsp; Cancel </a>

         <br/><br/><br/>
    </div>

    
      <div ng-show="cpEditorEdit==1">
      <text-angular name="cpedit" ta-toolbar-button-class="texteditor-btn btn btn-default" ta-toolbar="[['h1','h2','h3', 'h4', 'h5', 'h6', 'p', 'quote','bold','italics','underline','ul', 'ol', 'undo', 'redo', 'clear', 'justifyLeft', 'justifyCenter', 'justifyRight']]" ng-model="cancellation_policy"></text-angular>
        <br/>

        <a   ng-click="editPolicyCP(cancellation_policy)" class="btn btn-primary   pull-right prodo-margin5"   ><i class="fa fa-floppy-o"></i>  &nbsp; Save</a>
      
         <a class="btn btn-default   pull-right prodo-margin5"  ng-click = "cancelCP()" > <i class="glyphicon glyphicon-remove"></i> &nbsp; Cancel </a>

         <br/><br/><br/>
    </div>

    <div  ng-hide="(cpEditor==1 || cpEditorEdit==1 || cpAddEditor==1 )" >
        <div ng-bind-html = "cancellation_policy" class="oz-policyContent"></div>
        <br/>
        <button class = 'btn btn-info pull-right' ng-click = "onCp();">Edit</button>
        <br/><br/><br/>
    </div>
  </div>


</div>

<!--  Tabs for policy-->

<div ng-hide="branches.length>0" class="no-message"> 
        <center>
        <em style="font-size:16px;"> Please add branch first to perform further operations </em>
        </center>
 </div>

 
</div>


