<div style="border: 1px solid #EEE8E8; border-radius: 6px;" class="">
	<div ng-show ="(!addnewbranch && selectedprovider.status !== 'init')" style="margin:10px auto; padding: 40px; padding-bottom: 0px;" class="row">
		<div class="col-md-10">
			<p style="font-size:14px; letter-spacing:1px; word-space:1px;" class="text-justify">To add branch to your seller account, please click on <strong>'Add Branch'</strong> button.</p>
		</div>
		<div class="col-md-2">
			<center>
				<button style="background-color:#24677C; border-color:#24677C; width:90%;" class="  btn btn-sm btn-primary" ng-click="add_provider_branch()"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Branch</button>
			</center>
		</div>
	</div>

	<div ng-show="((providers_branch_list.length == 0 && !addnewbranch && selectedprovider.status == 'init') || (providers_branch_list.length == 0 && selectedprovider.status == 'init'))" style="padding:40px; opacity: .8; margin:40px; margin-bottom: 10px; color: rgb(80, 74, 74);background-color:#F1F1F1; letter-spacing: 1px;" class="row">
    <div class="col-md-12">
      <div class="no-message">
        <center>
          <p style="font-size: 14px;"><b>No branch exists for your seller account. </b></p>  
          <p class="text-danger" style="font-size:13px;"><b>Note:&nbsp; The seller account should be activated to add any branches/stores/outlets. Please contact OrderZapp support team to activate your seller account.</b></p>
        </center>
      </div>
    </div>
  </div>

	<!-- add seller branch start-->

	<div ng-show="((providers_branch_list.length == 0 || addnewbranch) && selectedprovider.status !== 'init')" style="margin:10px auto; padding: 20px;" class="row">
		<div class="col-md-12">
			<div class="add-seller-container">
				<form style="width: 90%; margin: 20px; " name="form.addBranchForm" class="css-form" ng-submit="" novalidate>

					<div id="oz-signup-input-group" class="input-group">
						<h4 style=" text-transform:uppercase; color: #8A847C;" id="oz-signin-heading">Add Branch</h4>
					</div>

					<hr size=3 width="90%;" style="height:1px; margin-top: 0;" noshade>

					<div id="oz-signup-input-group" class="input-group">
				  	<input type="text" name="branchname" class="form-control" ng-model="addbranch.name" placeholder="name" required>
				  	<small style="color:red;" ng-show="((form.addBranchForm.branchname.$dirty && form.addBranchForm.branchname.$invalid) || (form.addBranchForm.branchname.$invalid && form.addBranchForm.submitted))">*Please enter branch name.</small>
					</div>

					<div id="oz-signup-input-group" class="input-group">
				  	<input type="text" name="branchcode" class="form-control" ng-model="addbranch.code" placeholder="code" required>
				  	<small style="color:red;" ng-show="((form.addBranchForm.branchcode.$dirty && form.addBranchForm.branchcode.$invalid) || (form.addBranchForm.branchcode.$invalid && form.addBranchForm.submitted))">*Please enter branch code.</small>
				  </div>

				  <div id="oz-signup-input-group" class="input-group">
				  	<input type="text" name="addressline1" class="form-control" ng-model="addbranch.address1" placeholder="address line1" required><small style="color:red;" ng-show="((form.addBranchForm.addressline1.$dirty && form.addBranchForm.addressline1.$invalid) || (form.addBranchForm.addressline1.$invalid && form.addBranchForm.submitted))">*Please enter address line 1.</small>
				  </div>

				  <div id="oz-signup-input-group" class="input-group">
				  	<input type="text" name="addressline2" class="form-control" ng-model="addbranch.address2" placeholder="address line2" required><small style="color:red;" ng-show="((form.addBranchForm.addressline2.$dirty && form.addBranchForm.addressline2.$invalid) || (form.addBranchForm.addressline2.$invalid && form.addBranchForm.submitted))">*Please enter address line 2.</small>
				  </div>

				  <div id="oz-signup-input-group" class="input-group">
				  	<input type="text" name="area" class="form-control" ng-model="addbranch.area" placeholder="area" required>
				  	<small style="color:red;" ng-show="((form.addBranchForm.area.$dirty && form.addBranchForm.area.$invalid) || (form.addBranchForm.area.$invalid && form.addBranchForm.submitted))">*Please enter branch area.</small>
				  </div>

				  <div id="oz-signup-input-group" class="input-group">
				  	<input type="text" name="city" class="form-control" ng-model="addbranch.city" placeholder="city" ng-pattern="/^[^0-9]*$/" required>
				  	<small style="color:red;" ng-show="((form.addBranchForm.city.$dirty && form.addBranchForm.city.$invalid) || (form.addBranchForm.city.$invalid && form.addBranchForm.submitted))">*Please enter branch city.</small>
				  </div>

				  <div id="oz-signup-input-group" class="input-group">
				  	<input type="text" name="country" class="form-control" ng-model="addbranch.country" placeholder="country" ng-pattern="/^[^0-9]*$/" required>
				  	<small style="color:red;" ng-show="((form.addBranchForm.country.$dirty && form.addBranchForm.country.$invalid) || (form.addBranchForm.country.$invalid && form.addBranchForm.submitted))">*Please enter branch country.</small>
				  </div>

				  <div id="oz-signup-input-group" class="input-group">
				  	<input type="text" name="state" class="form-control" ng-model="addbranch.state" placeholder="state" ng-pattern="/^[^0-9]*$/" required>
				  	<small style="color:red;" ng-show="((form.addBranchForm.state.$dirty && form.addBranchForm.state.$invalid) || (form.addBranchForm.state.$invalid && form.addBranchForm.submitted))">*Please enter branch state.</small>
				  </div>

				  <div id="oz-signup-input-group" class="input-group">
				  	<input type="text" name="pincode" class="form-control" ng-pattern="/^[0-9]{6}$/" ng-model="addbranch.pincode" placeholder="pincode" required>
				  	<small style="color:red;" ng-show="((form.addBranchForm.pincode.$dirty && form.addBranchForm.pincode.$invalid) || (form.addBranchForm.pincode.$invalid && form.addBranchForm.submitted))">*Please enter branch pincode and must be of 6 digits only.</small>
				  </div>

				  <div id="oz-signup-input-group" class="input-group">
				  	<input type="text" name="contact" class="form-control" ng-model="addbranch.supportno" ng-pattern="contact_regex" placeholder="support no separated by commas(,)" required>
				  	<small style="color:red;" ng-show="((form.addBranchForm.contact.$dirty && form.addBranchForm.contact.$invalid) || (form.addBranchForm.contact.$invalid && form.addBranchForm.submitted))">*Please enter branch supported numbers separated by commas(,) only.</small>
				  </div>

					<div id="oz-signup-input-group" class="input-group">
				  	<textarea rows="6" type="text" class="form-control" ng-model="addbranch.description" placeholder="description"></textarea>
					</div>

					<div id="oz-signup-input-group" class="input-group">
				  	<textarea rows="2" name="note" type="text" class="form-control" ng-model="addbranch.note" placeholder="special instructions note" required></textarea>
				  	<small style="color:red;" ng-show="((form.addBranchForm.note.$dirty && form.addBranchForm.note.$invalid) || (form.addBranchForm.note.$invalid && form.addBranchForm.submitted))">*Please enter instruction note.</small>
					</div>

		     <div id="oz-signup-input-group" class="input-group">
		     	<div style="margin:0px;" class="row">
		     		<div style="padding:0px;" class="col-md-10">
			     		<h5>Working Hours:</h5>
			     		<p style="font-size:16px;" class="text-danger"><b>Note:</b> Please enter working time in 24 hours format.</p>
			     	</div>     		
		     	</div>
		     	
		     	<div style="margin: 5px auto;" class="row">
		     		<div class="col-md-5">
		     			<div class="row">
		     				<div class="col-md-2" style="font-size:12px;">From:</div>
		     				<div class="col-md-5">
		     					<input type = 'text' class = 'form-control' placeholder = 'HH' ng-model = 'addbranch.operationHours.from.hours' ng-pattern="/^([01]?[0-9]|2[0-3])$/" name = 'workstarthours' required>
		     				</div>
		     				<div class="col-md-5">
		     					<input type = 'text' class = 'form-control' placeholder = 'MM' ng-model = 'addbranch.operationHours.from.minutes' name = 'workstartminute' ng-pattern="/^[0-5][0-9]$/" required>
		     				</div>
		     			</div>
		     			<div class="row">
		     				<p><small style="color:red;" ng-show="(((form.addBranchForm.workstarthours.$dirty && form.addBranchForm.workstartminute.$dirty) && (form.addBranchForm.workstarthours.$invalid || form.addBranchForm.workstartminute.$invalid)) || ((form.addBranchForm.workstarthours.$invalid || form.addBranchForm.workstartminute.$invalid) && form.addBranchForm.submitted))">*Please enter valid 'From' delivery hours and minutes (only numbers are allowed and hours should be in range [0-23])</small></p>
		     			</div>
		     		</div>
		     		<div class="col-md-5">
		     			<div class="row">
		     				<div class="col-md-2" style="font-size:12px;">To:</div>
		     				<div class="col-md-5">
		     					<input type = 'text' class = 'form-control' placeholder = 'HH' ng-model = 'addbranch.operationHours.to.hours' name = 'workendhours' ng-pattern="/^([01]?[0-9]|2[0-3])$/" required>
		     				</div>
		     				<div class="col-md-5">
		     					<input type = 'text' class = 'form-control' placeholder = 'MM' ng-model = 'addbranch.operationHours.to.minutes' name = 'workendminutes' ng-pattern="/^[0-5][0-9]$/" required>
		     				</div>
		     			</div>
		     			<div class="row">
		     				<p><small style="color:red;" ng-show="(((form.addBranchForm.workendhours.$dirty && form.addBranchForm.workendminutes.$dirty) && (form.addBranchForm.workendhours.$invalid || form.addBranchForm.workendminutes.$invalid)) || ((form.addBranchForm.workendhours.$invalid || form.addBranchForm.workendminutes.$invalid) && form.addBranchForm.submitted))">*Please enter valid 'To' delivery hours and minutes (only numbers are allowed and hours should be in range [0-23])</small></p>
		     			</div>
		     		</div>
		     	</div>
		     </div>

		     <div id="oz-signup-input-group" class="input-group">
		     	<div style="margin:0px;" class="row">
		     		<div style="padding:0px;" class="col-md-11">
			     		<h5>Delivery Time Slots:</h5>
			     		<p style="font-size:12px;" class="text-muted">**It defines the time slot when delivery or pickup of products will occur. By default you have to provide a minimum of two time slots, and more time slots can be added as required. </p>

			     		<p style="font-size:16px;" class="text-danger"><b>Note:</b> Please enter the delivery time slots in a 24 hours format.</p>
			     	</div>
			     	<div class="col-md-1" style="text-align:right;">
			     		<h5><a href="" class="pull-right" ng-click="addSlots()"><i class="fa fa-plus"></i></a></h5>
			     	</div>	
		     		
		     	</div>
		     	
		     	<div style="margin: 5px auto;" ng-repeat="slot in addbranch.timeslots" class="row">
		     		<div class="col-md-5">
		     			<div class="row">
		     				<div class="col-md-2" style="font-size:12px;">From:</div>
		     				<div class="col-md-5">
		     					<input type = 'text' class = 'form-control' placeholder = 'HH' ng-model = 'slot.from.hours' name = "fromtimeinhours" ng-pattern="/^([01]?[0-9]|2[0-3])$/" required>
		     				</div>
		     				<div class="col-md-5">
		     					<input type = 'text' class = 'form-control' placeholder = 'MM' ng-model = 'slot.from.minutes' name = "fromtimeinminutes" ng-pattern="/^[0-5][0-9]$/" required>
		     				</div>
		     			</div>
		     		</div>
		     		<div class="col-md-5">
		     			<div class="row">
		     				<div class="col-md-2" style="font-size:12px;">To:</div>
		     				<div class="col-md-5"><input type = 'text' class = 'form-control' placeholder = 'HH' ng-model = 'slot.to.hours' name = "totimeinhours" ng-pattern="/^([01]?[0-9]|2[0-3])$/" required></div>
		     				<div class="col-md-5"><input type = 'text' class = 'form-control' placeholder = 'MM' ng-model = 'slot.to.minutes' name = "totimeinminutes" ng-pattern="/^[0-5][0-9]$/" required></div>
		     			</div>
		     		</div>
		     		<div class="col-md-2">
		     			<h5 ng-show="$index > 1"><a href="" class="pull-right" ng-click="removeSlots(slot)"><i class="fa fa-times"></i></a></h5>
		     		</div>
		     	</div>
		     	<div style="margin:0px;" class="row">
     				<p><small style="color:red;" ng-show="(form.addBranchForm.submitted && (form.addBranchForm.fromtimeinhours.$invalid || form.addBranchForm.fromtimeinminutes.$invalid || form.addBranchForm.totimeinhours.$invalid || form.addBranchForm.totimeinminutes.$invalid))">*Please enter valid delivery time slot hours and minutes in (numbers only and hours should be in range [0-23] and minutes should be in range [00-59])</small></p>
     			</div>
		    </div>


					<div id="oz-signup-input-group" class="input-group">
						<h5>Delivery Mode:</h5>
						<p style="font-size:12px;" class="text-muted">**The store or outlet offers two types of delivery modes. Please select at least one mode, that you wish to offer to buyers.</p> 
					 	<span>
					 		Home&nbsp;<input type="checkbox" ng-model="addbranch.homedelivery">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					 	</span>
					 	<span>
					 		Pickup&nbsp;<input type="checkbox" ng-model="addbranch.pickup">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					 	</span>
					 	<span ng-show="addbranch.homedelivery">
					 		Delivery Charges in percent&nbsp;<input id="checkSlave" type="checkbox"  ng-model="addbranch.chargeinpercent">
					 	</span>					 	
					</div>	



					<div id="oz-signup-input-group" class="input-group">
						<button style="width: 49.5%;margin:.5px;background-color:transparent;border-color: #b3b3b3; color:black;font-weight:bold;border-radius:1px;" class="btn btn-primary" ng-click="cancelAddSellerBranch()"><i class="fa fa-times"></i>&nbsp;&nbsp;Cancel</button>
						<button style="width: 49.5%;margin:.5px;background-color:#EC670D;border-color: #E47814;font-weight:bold;border-radius:1px;" class="btn btn-primary" ng-click="addSellerBranch()"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
					</div>

				</form>	
			</div>
		</div>
	</div>

	<!-- add seller branch end-->

	<!-- view seller branch list start-->

	<div ng-show="providers_branch_list.length > 0 && !addnewbranch" style="margin:10px auto; padding: 40px;" class="row">
		<div style="letter-spacing:1px;" class="input-group">
			<h4 style=" text-transform:uppercase; color: #8A847C;" id="oz-signin-heading">Branch List for {{selectedprovider.providername}}</h4>
		</div>
		<hr size=3 width="100%;" style="height:1px; margin-top: 0;" noshade>

		<div style="padding:10px; margin:5px auto; " class="col-md-12">
			<p style="letter-spacing:1px; font-size:14px;" class="text-muted"><em>** Publishing your branch will also publish products (if any) by default. </em></p>
		</div>

		<div ng-repeat="branch in providers_branch_list" style="padding:10px; margin:5px auto; box-shadow: 0 1px 2px 1px rgba(248, 245, 245, 0.2), 0 2px 6px rgba(0,0,0,0.15);" class="col-md-12" ng-class="{'seller-activated': branch.status !== 'init', 'seller-notactive': branch.status == 'init' }">
			<div class="view-branch-container">
				<div class="row">
					<div class="col-md-2">
						<img style="width:100%; height:100px;" ng-src="{{selectedprovider.providerlogo.image}}">
					</div>
					<div class="col-md-6">
						<p style="text-transform:uppercase; font-size:18px; ">{{branch.branchname}}</p>
						<p>{{branch.branchcode}}</p>
						<p>{{branch.location.area}}</p>
					</div>
					<div class="col-md-4">
						<button style="background-color:#24677C; border-color:#24677C; width:49%;" class="  btn btn-sm btn-primary" ng-click="openEditBranch(branch)"><i class="fa fa-edit"></i>&nbsp;&nbsp;Edit</button>
						<button ng-show="branch.status == 'init' " style="background-color:#24677C; border-color:#24677C; width:49%;" class="  btn btn-sm btn-primary" ng-click="publishSellerBranch(branch.branchid)"><i class="fa fa-cloud-upload"></i>&nbsp;&nbsp;Publish</button>
						<button ng-show="branch.status !== 'init' " style="background-color:#397c24; border-color:#367c24;width:49%;" class="  btn btn-sm btn-primary"><i class="fa fa-cloud-upload"></i>&nbsp;&nbsp;Published</button>
					</div>
				</div>
				<div ng-show="$index == currentBranchIndex" class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<p ng-show="branch.branchdescription && branch.branchdescription != null"><em>Description:</em>&nbsp;&nbsp; {{branch.branchdescription}}</p>
						<p><em>Contact:</em>&nbsp;&nbsp; {{branch.contact_supports.toString()}}</p>
						<p><em>Address:</em>&nbsp;&nbsp; {{branch.location.address1}},{{' ' + branch.location.address2}},{{' ' + branch.location.city}}, {{branch.location.state}}, {{branch.location.country}}, pincode- {{branch.location.zipcode}}</p>
						<p><em>Working Hours:</em>&nbsp;&nbsp;
							<ul class="list-group">
							  <li class="list-group-item">
								  <div style="margin:0px;" class="row">
								  	<div class="col-md-6">
								  		<b>From:</b>&nbsp;&nbsp;<span ng-bind = 'to_time(branch.branch_availability.from)'></span>
								  	</div>
								  	<div class="col-md-6">
								  		<b>To:</b>&nbsp;&nbsp;<span ng-bind = 'to_time(branch.branch_availability.to)'></span>
								  	</div>
								  </div>
							  </li>
							</ul>
						</p>
						<p ng-show="branch.deliverytimingslots && branch.deliverytimingslots.length > 0"><em>Delivery Time Slots:</em>&nbsp;&nbsp;
							<ul class="list-group">
							  <li ng-repeat="slot in branch.deliverytimingslots" class="list-group-item">
								  <div style="margin:0px;" class="row">
								  	<div class="col-md-6">
								  		<b>From:</b>&nbsp;&nbsp;<span ng-bind = 'to_time(slot.from)'></span>
								  	</div>
								  	<div class="col-md-6">
								  		<b>To:</b>&nbsp;&nbsp;<span ng-bind = 'to_time(slot.to)'></span>
								  	</div>
								  </div>
							  </li>
							</ul>
						</p>
						<p><em>Delivery Type:</em>&nbsp;&nbsp;
							<span ng-show="branch.delivery.isprovidehomedelivery" class="label label-success"><i class="fa fa-check"></i>&nbsp;&nbsp;HOME</span>
							<span ng-show="branch.delivery.isprovidepickup" class="label label-success"><i class="fa fa-check"></i>&nbsp;&nbsp;PICKUP</span>					
							<span ng-show="branch.delivery.isdeliverychargeinpercent" class="label label-success"><i class="fa fa-check"></i>&nbsp;&nbsp;CHARGE IN PERCENT</span>
						</p>
						<p style="font-size:12px;" class="text-muted">**The store or outlet delivery option is offered by seller.</p> 
						<p style="font-size:12px; font-weight:bold;" ng-show="branch.note && branch.note != null" class="text-info"><em>Note:</em>&nbsp;&nbsp; {{branch.note}}</p>    

					</div>
				</div>
				<div class="row">
					<div style="text-transform:uppercase; letter-spacing:1px; font-weight:bold; font-size:10px;" class="col-md-2 col-md-offset-10">
						<center>
							<a ng-show="$index != currentBranchIndex" href="" ng-click="viewBranchDetail($index)">View more</a>
							<a ng-show="(($index == currentBranchIndex))" href="" ng-click="viewBranchDetail()">View less</a>
						</center>
					</div>
				</div>
			</div>
		</div>

		<!-- edit seller branch list start-->
			<div class="modal fade" id="editBranchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-body">
			        <form style="width: 90%; margin: 20px; " name="form.editBranchForm" class="css-form" ng-submit="" novalidate>

								<div id="oz-signup-input-group" class="input-group">
									<h4 style=" text-transform:uppercase; color: #8A847C;" id="oz-signin-heading">Edit {{editbranch.branchname}}</h4>
								</div>

								<hr size=3 width="90%;" style="height:1px; margin-top: 0;" noshade>
								<dl>
									<div id="oz-signup-input-group" class="input-group">
										
										  <dt>Branch Name</dt>
										  <dd>
										  	<input type="text" name="editbranchname" class="form-control" ng-model="editbranch.branchname" placeholder="name" required>
								  			<small style="color:red;" ng-show="((form.editBranchForm.editbranchname.$dirty && form.editBranchForm.editbranchname.$invalid) || (form.editBranchForm.editbranchname.$invalid && form.editBranchForm.submitted))">*Please enter branch name.</small>
								  		</dd>
															  	
									</div>

									<div id="oz-signup-input-group" class="input-group">
								  	<!-- <dl> -->
										  <dt>Branch Code</dt>
										  <dd>
										  	<input type="text" name="editbranchcode" class="form-control" ng-model="editbranch.branchcode" placeholder="code" required>
								  			<small style="color:red;" ng-show="((form.editBranchForm.editbranchcode.$dirty && form.editBranchForm.editbranchcode.$invalid) || (form.editBranchForm.editbranchcode.$invalid && form.editBranchForm.submitted))">*Please enter branch code.</small>
								  		</dd>
										<!-- </dl> -->
								  </div>

								  <div id="oz-signup-input-group" class="input-group">
								  	<!-- <dl> -->
										  <dt>Address Line 1</dt>
										  <dd>
										  	<input type="text" name="editaddressline1" class="form-control" ng-model="editbranch.location.address1" placeholder="address line1" required>
								  			<small style="color:red;" ng-show="((form.editBranchForm.editaddressline1.$dirty && form.editBranchForm.editaddressline1.$invalid) || (form.editBranchForm.editaddressline1.$invalid && form.editBranchForm.submitted))">*Please enter address line 1.</small>
								  		</dd>
										<!-- </dl> -->
								  </div>

								  <div id="oz-signup-input-group" class="input-group">
								  	<!-- <dl> -->
										  <dt>Address Line 2</dt>
										  <dd>
								  			<input type="text" name="editaddressline2" class="form-control" ng-model="editbranch.location.address2" placeholder="address line2" required>
								  			<small style="color:red;" ng-show="((form.editBranchForm.editaddressline2.$dirty && form.editBranchForm.editaddressline2.$invalid) || (form.editBranchForm.editaddressline2.$invalid && form.editBranchForm.submitted))">*Please enter address line 2.</small>
								  		</dd>
								  	<!-- </dl>		 -->
								  </div>

								  <div id="oz-signup-input-group" class="input-group">
								  	<!-- <dl> -->
										  <dt>Area</dt>
										  <dd>
										  	<input type="text" name="editarea" class="form-control" ng-model="editbranch.location.area" placeholder="area" required>
								  			<small style="color:red;" ng-show="((form.editBranchForm.editarea.$dirty && form.editBranchForm.editarea.$invalid) || (form.editBranchForm.editarea.$invalid && form.editBranchForm.submitted))">*Please enter branch area.</small>
								  		</dd>
								  	<!-- </dl>		 -->
								  </div>

								  <div id="oz-signup-input-group" class="input-group">
								  	<!-- <dl> -->
										  <dt>City</dt>
										  <dd>
										  	<input type="text" name="editcity" class="form-control" ng-model="editbranch.location.city" placeholder="city" ng-pattern="/^[^0-9]*$/" required>
								  			<small style="color:red;" ng-show="((form.editBranchForm.editcity.$dirty && form.editBranchForm.editcity.$invalid) || (form.editBranchForm.editcity.$invalid && form.editBranchForm.submitted))">*Please enter branch city.</small>
								  		</dd>
								  	<!-- </dl>		 -->
								  </div>

								  <div id="oz-signup-input-group" class="input-group">
								  	<!-- <dl> -->
										  <dt>Country</dt>
										  <dd>
										  	<input type="text" name="editcountry" class="form-control" ng-model="editbranch.location.country" placeholder="country" ng-pattern="/^[^0-9]*$/" required>
								  			<small style="color:red;" ng-show="((form.editBranchForm.editcountry.$dirty && form.editBranchForm.editcountry.$invalid) || (form.editBranchForm.editcountry.$invalid && form.editBranchForm.submitted))">*Please enter branch country.</small>
								  		</dd>
								  	<!-- </dl>		 -->
								  </div>

								  <div id="oz-signup-input-group" class="input-group">
								  	<!-- <dl> -->
										  <dt>State</dt>
										  <dd>
										  	<input type="text" name="editstate" class="form-control" ng-model="editbranch.location.state" placeholder="state" ng-pattern="/^[^0-9]*$/" required>
								  			<small style="color:red;" ng-show="((form.editBranchForm.editstate.$dirty && form.editBranchForm.editstate.$invalid) || (form.editBranchForm.editstate.$invalid && form.editBranchForm.submitted))">*Please enter branch state.</small>
								  		</dd>
								  	<!-- </dl>		 -->
								  </div>

								  <div id="oz-signup-input-group" class="input-group">
								  	<!-- <dl> -->
										  <dt>Zipcode</dt>
										  <dd>
										  	<input type="text" name="editpincode" ng-pattern="/^[0-9]{6}$/" class="form-control" ng-model="editbranch.location.zipcode" placeholder="zipcode" required>
								  			<small style="color:red;" ng-show="((form.editBranchForm.editpincode.$dirty && form.editBranchForm.editpincode.$invalid) || (form.editBranchForm.editpincode.$invalid && form.editBranchForm.submitted))">*Please enter branch pincode and must be of 6 digits only.</small>
								  		</dd>
								  	<!-- </dl>		 -->
								  </div>

								  <div id="oz-signup-input-group" class="input-group">
								  	<!-- <dl> -->
										  <dt>Support Nos.</dt>
										  <dd>
										  	<input type="text" name="editcontact" class="form-control" ng-model="editbranch.edit_supportnos" placeholder="support no. separated by commas(,)" required>
								  			<small style="color:red;" ng-show="((form.editBranchForm.editcontact.$dirty && form.editBranchForm.editcontact.$invalid) || (form.editBranchForm.editcontact.$invalid && form.editBranchForm.submitted))">*Please enter branch supported numbers separated by commas(,) only.</small>
								  		</dd>
								  	<!-- </dl>		 -->
								  </div>

									<div id="oz-signup-input-group" class="input-group">
								  	<!-- <dl> -->
										  <dt>Branch Description</dt>
										  <dd>
										  	<textarea rows="5" type="text" class="form-control" ng-model="editbranch.branchdescription" placeholder="description"></textarea>
										  </dd>
										<!-- </dl>  	 -->
									</div>

									<div id="oz-signup-input-group" class="input-group">
								  	<!-- <dl> -->
										  <dt>Special Instruction Note</dt>
										  <dd>
										  	<textarea rows="2" name="editnote" type="text" class="form-control" ng-model="editbranch.note" placeholder="special instructions note" required></textarea>
								  			<small style="color:red;" ng-show="((form.editBranchForm.editnote.$dirty && form.editBranchForm.editnote.$invalid) || (form.editBranchForm.editnote.$invalid && form.editBranchForm.submitted))">*Please enter instruction note.</small>
								  		</dd>
								  	<!-- </dl>		 -->
									</div>

									<div id="oz-signup-input-group" class="input-group">
									  <dt>Working Hours</dt>
									  <dd><p style="font-size:16px;" class="text-danger"><b>Note:</b> Please enter working time in a 24 hours format.</p></dd>
									  <dd> <h6>From:</h6>
											<input type = 'text' class = 'form-control' placeholder = 'HH' style = 'width : 15%' ng-model = 'edit.from.hours' name = 'editOperationStartHs' ng-pattern="/^([01]?[0-9]|2[0-3])$/" required>
                      <input type = 'text' class = 'form-control' placeholder = 'MM' style = 'width : 15%' ng-model = 'edit.from.minutes' name = 'editOperationStartMs' ng-pattern="/^[0-5][0-9]$/" required>
                      <small style="color:red;display:block" ng-show="(((form.editBranchForm.editOperationStartHs.$dirty && form.editBranchForm.editOperationStartMs.$dirty) && (form.editBranchForm.editOperationStartHs.$invalid || form.editBranchForm.editOperationStartMs.$invalid)) || ((form.editBranchForm.editOperationStartHs.$invalid || form.editBranchForm.editOperationStartMs.$invalid) && form.editBranchForm.submitted))">*Please enter valid 'From' delivery hours and minutes [only numbers are allowed and hours should be in range [0-23]]</small>
								  		</dd>

								  		<dd> <h6>To:</h6>
												<input type = 'text' class = 'form-control' placeholder = 'HH' style = 'width : 15%' ng-model = 'edit.to.hours' required name = 'editOperationEndHs' ng-pattern="/^([01]?[0-9]|2[0-3])$/">
							          <input type = 'text' class = 'form-control' placeholder = 'MM' style = 'width : 15%' ng-model = 'edit.to.minutes' required name = 'editOperationEndMs' ng-pattern="/^[0-5][0-9]$/" >
							                    				                     
							          <small style="color:red;display:inherit" ng-show="(((form.editBranchForm.editOperationEndHs.$dirty && form.editBranchForm.editOperationEndMs.$dirty) && (form.editBranchForm.editOperationEndHs.$invalid || form.addBranchForm.editOperationEndMs.$invalid)) || ((form.editBranchForm.editOperationEndHs.$invalid || form.editBranchForm.editOperationEndMs.$invalid) && form.editBranchForm.submitted))">*Please enter valid 'To' delivery hours and minutes [only numbers are allowed and hours should be in range [0-23]]</small>
								  		</dd>

									</div>

									<div id="oz-signup-input-group" class="input-group">
							     	<div style="margin:0px;" class="row">
							     		<div style="padding:0px;" class="col-md-11">
								     		<h5><b>Delivery Time Slots:</b></h5>
								     		<p style="font-size:12px;" class="text-muted">**It defines the time slot when delivery or pickup of products will occur. By default you have to provide a minimum of two time slots, and more time slots can be added as required. </p>
								     		<p style="font-size:16px;" class="text-danger"><b>Note:</b> Please enter the delivery time slots in a 24 hours format.</p>
								     	</div>
								     	<div class="col-md-1" style="text-align:right;">
								     		<h5><a href="" class="pull-right" ng-click="addDeliverySlots()"><i class="fa fa-plus"></i></a></h5>
								     	</div>	
							     		
							     	</div>
							     	
							     	<div style="margin: 5px auto;" ng-repeat="slot in editTimingSlots" class="row">
							     		<div class="col-md-5">
							     			<div class="row">
							     				<div class="col-md-2" style="font-size:12px;">From:&nbsp;</div>
							     				<div class="col-md-5"><input type = 'text' class = 'form-control' placeholder = 'HH' ng-model = 'slot.from.hours' name = 'editfromtimeinhours' ng-pattern="/^([01]?[0-9]|2[0-3])$/" required></div>
							     				<div class="col-md-5"><input type = 'text' class = 'form-control' placeholder = 'MM' ng-model = 'slot.from.minutes' name = 'editfromtimeinminutes' ng-pattern="/^[0-5][0-9]$/" required></div>
							     			</div>
							     		</div>
							     		<div class="col-md-5">
							     			<div class="row">
							     				<div class="col-md-2" style="font-size:12px;">To:</div>
							     				<div class="col-md-5"><input type = 'text' class = 'form-control' placeholder = 'HH' ng-model = 'slot.to.hours' name = 'edittotimeinhours' ng-pattern="/^([01]?[0-9]|2[0-3])$/" required></div>
							     				<div class="col-md-5"><input type = 'text' class = 'form-control' placeholder = 'MM' ng-model = 'slot.to.minutes' name = 'edittotimeinminutes' ng-pattern="/^[0-5][0-9]$/" required></div>
							     			</div>
							     		</div>
							     		<div class="col-md-2">
							     			<h5 ng-show="$index > 1"><a href="" class="pull-right" ng-click="removeEditSlots(slot)"><i class="fa fa-times"></i></a></h5>
							     		</div>
							     	</div>
							     	<div style="margin:0px;" class="row">
					     				<p><small style="color:red;" ng-show="(form.editBranchForm.submitted && (form.editBranchForm.editfromtimeinhours.$invalid || form.editBranchForm.editfromtimeinminutes.$invalid || form.editBranchForm.edittotimeinhours.$invalid || form.editBranchForm.edittotimeinminutes.$invalid))">*Please enter valid delivery time slot hours and minutes in (numbers only and hours should be in range [0-23] and minutes should be in range [00-59])</small></p>
					     			</div>
							     </div>

									<div id="oz-signup-input-group" class="input-group">
										<dt>Delivery Mode*:</dt> 
										<p style="font-size:12px;" class="text-muted">*The store or outlet offers two types of delivery modes. Please select at least one mode, that you wish to offer to buyers.</p> 
									 	<span>
									 		Home&nbsp;<input type="checkbox" ng-model="editbranch.delivery.isprovidehomedelivery">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									 	</span>
									 	<span>
									 		Pickup&nbsp;<input type="checkbox" ng-model="editbranch.delivery.isprovidepickup">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									 	</span>
									 	<span ng-show="editbranch.delivery.isprovidehomedelivery">
									 		Delivery Charges in percent&nbsp;<input id="checkSlave" type="checkbox"  ng-model="editbranch.delivery.isdeliverychargeinpercent">
									 	</span>					 	
									</div>	
								</dl>
								<div id="oz-signup-input-group" class="input-group">
									<button style="width: 49.2%;margin:.5px;background-color:transparent;border-color: #b3b3b3; color:black;font-weight:bold;border-radius:1px;" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;&nbsp;Cancel</button>
									<button style="width: 49.2%;margin:.5px;background-color:#EC670D;border-color: #E47814;font-weight:bold;border-radius:1px;" class="btn btn-primary" ng-click="editSellerBranch(editbranch.branchid)"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
								</div>

							</form>	
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

		<!-- edit seller branch list end-->
	</div>

	<!-- view seller branch list end-->


</div>