<div id="oz-signin-view" class="container">

	<form style="width: 90%;margin-top: 60px;" name="forgotPasswordForm" id="oz-signin-form">

		<center>
			<h3 style=" text-transform:uppercase; font-weight: bold; font-size:20px;color: #8A847C;" id="oz-signin-heading">Forgot Password</h3>
		</center>

		<div id="oz-signup-input-group" class="input-group">
 			<p id="oz-general-terms">Please enter your OrderZapp registered mobile no in  below provided space to generate one time password. Use generated OTP to signin.</p>
		</div>

		<div id="oz-signin-input-group" class="input-group">
	  	<input type="text" name="mobileno" ng-pattern="/^[0-9]{10}$/" class="form-control" ng-model="forgotpassword.mobileno" placeholder="Mobile No." required />
		</div>

		<div id="oz-signin-input-group" class="input-group">

   		<a class="link pull-right" href="" ui-sref="home.start" style="text-align:right; font-weight:bold; font-size:12px;color: rgb(97, 139, 8); letter-spacing:1px;">Back to signin</a>
		</div>
	</form>

	<form ng-show="reset_password" style="width: 90%;" name="resetPasswordForm" id="oz-signup-form" novalidate>

		<div id="oz-signup-input-group" class="input-group">
	  	<input type="text" name="token" class="form-control" ng-model="resetPassword.token" placeholder="token" required />
		</div>

		<div id="oz-signup-input-group" class="input-group">
			<p id="oz-general-terms">Please enter verification token sent to your mobile no.</p>
		</div>

	</form>

	<div ng-show="reset_password" id="oz-signup-input-group" class="input-group">
		<button style="width: 90%;background-color:#EC670D;border-color: #E47814; font-size:18px;font-weight:bold;border-radius:1px;" class="btn btn-primary" ng-click="resetPassword()">Reset</button>
	</div>

   <div ng-hide="reset_password" id="oz-signin-input-group" class="input-group">
		<button style="width: 90%;background-color:#EC670D;border-color: #E47814;font-size:18px;font-weight:bold; border-radius:1px;" class="btn btn-primary" ng-click='forgotPassword()'>Submit</button>
	</div>

	<div id="oz-signin-input-group" ng-show="(forgotPasswordForm.mobileno.$dirty && forgotPasswordForm.mobileno.$invalid) || (forgotPasswordForm.$invalid && forgotPasswordForm.submitted)" style="width: 90%; background-color:black; opacity:.85;color:white;letter-spacing:1px; font-size:11px;" class="alert alert-danger">
	  <ul class="error-ul">
	  	<li ng-show="(forgotPasswordForm.mobileno.$dirty && forgotPasswordForm.mobileno.$error.required) || (forgotPasswordForm.mobileno.$invalid && forgotPasswordForm.submitted)">Mobile No. is required!
	  	<li ng-show="(forgotPasswordForm.mobileno.$dirty && forgotPasswordForm.mobileno.$error.pattern) || (forgotPasswordForm.mobileno.$invalid && forgotPasswordForm.submitted)">Mobile No. must be in 10 digits only!
	  </ul>
	</div> 

	<div id="oz-signin-input-group" ng-show="(resetPasswordForm.token.$dirty && resetPasswordForm.token.$invalid) || (resetPasswordForm.$invalid && resetPasswordForm.submitted)" style="width: 90%; background-color:black; opacity:.85;color:white;letter-spacing:1px; font-size:11px;" class="alert alert-danger">
	  <ul class="error-ul">
	  	<li ng-show="(resetPasswordForm.token.$dirty && resetPasswordForm.token.$error.required) || (resetPasswordForm.token.$invalid && resetPasswordForm.submitted)">Reset verification token is required!
	  </ul>
	</div> 

</div>