<div id="oz-signin-view" class="container">

	<form style="width: 90%; margin: 60px auto;" name="signinForm" id="oz-signin-form" ng-submit="" novalidate>

		<center>
			<h3 style=" text-transform:uppercase; font-weight: bold; font-size:20px;color: #8A847C;" id="oz-signin-heading">Sign In</h3>
		</center>

		<div id="oz-signup-input-group" class="input-group">
 			<p id="oz-general-terms">Sign in with OrderZapp sellers application helps sellers to manage their branches, products, orders and other related policies.</p>
		</div>

		<div id="oz-signin-input-group" class="input-group">
	  	<input name="mobileno" type="text" class="form-control" ng-model="user.mobileno" placeholder="Mobile No. or Username" required />
		</div>

		<div id="oz-signin-input-group" class="input-group">
	  	<input name="password" type="password" class="form-control" ng-model="user.password" placeholder="Password" required />
		</div>

		<div id="oz-signin-input-group" class="input-group">

   		<a class="link pull-right" href="" ui-sref="home.start-forgotpassword" style="text-align:right; font-weight:bold; font-size:12px;color: rgb(97, 139, 8); letter-spacing:1px;">forgot password?</a>
		</div>

    <div id="oz-signin-input-group" class="input-group">
			<button style="width: 100%;background-color:#EC670D;border-color: #E47814;font-size:18px;font-weight:bold; border-radius:1px;" class="btn btn-primary" ng-click='signin()'>Sign In</button>
		</div>

		<div id="oz-signin-input-group" ng-show="(signinForm.mobileno.$dirty && signinForm.mobileno.$invalid) || (signinForm.password.$dirty && signinForm.password.$invalid) || (signinForm.$invalid && signinForm.submitted)" style="background-color:black; opacity:.85;color:white;letter-spacing:1px; font-size:11px;" class="alert alert-danger">
      <ul class="error-ul">
        <li ng-show="(signinForm.mobileno.$dirty && signinForm.mobileno.$error.required) || (signinForm.mobileno.$error.required && signinForm.submitted)">Mobile No. or username is required.</li>
        <li ng-show="(signinForm.password.$dirty && signinForm.password.$error.required)|| (signinForm.password.$invalid && signinForm.submitted)">Password is required.</li>
      </ul>
    </div> 

	</form>

</div>