<div style="border: 1px solid #EEE8E8; border-radius: 6px;" class="manage-user-settings-container">
	<div style="margin:10px auto; padding: 40px; padding-bottom: 0px;" class="row">
		<div class="col-md-12">
			<div style="letter-spacing:1px;" class="input-group">
				<h4 style=" text-transform:uppercase; color: #8A847C;" id="oz-signin-heading">Manage User Settings</h4>
			</div>
			<hr size=3 width="100%;" style="height:1px; margin-top: 0;" noshade>

		<!-- Update User Settings Start.....................................    -->
			<div ng-show="(user_edit && (user_edit || !user_settings_data.location))" class="edit-user-container">
				<form style="width: 90%; margin: 20px; " name="form.editUserSettingsForm" class="css-form" ng-submit="" novalidate>

					<div id="oz-signup-input-group" class="input-group">
				  	<input type="text" name="username" class="form-control" ng-model="user_settings_data.username" placeholder="username" required>
				  	<small style="color:red;" ng-show="((form.editUserSettingsForm.username.$dirty && form.editUserSettingsForm.username.$invalid) || (form.editUserSettingsForm.username.$invalid && form.editUserSettingsForm.submitted))">*Please enter username.</small>
					</div>

					<div id="oz-signup-input-group" class="input-group">
				  	<input type="email" name="email" class="form-control" ng-model="user_settings_data.email" placeholder="email" required>
				  	<small style="color:red;" ng-show="((form.editUserSettingsForm.email.$dirty && form.editUserSettingsForm.email.$invalid) || (form.editUserSettingsForm.email.$invalid && form.editUserSettingsForm.submitted))">*Please enter valid email.</small>
				  </div>

				  <div id="oz-signup-input-group" class="input-group">
				  	<input type="password" class="form-control" ng-model="user_settings_data.password" placeholder="password">
				  </div>

				  <div id="oz-signup-input-group" class="input-group">
				  	<input type="text" name="addressline1" class="form-control" ng-model="user_settings_data.location.address1" placeholder="address line1" required>
				  	<small style="color:red;" ng-show="((form.editUserSettingsForm.addressline1.$dirty && form.editUserSettingsForm.addressline1.$invalid) || (form.editUserSettingsForm.addressline1.$invalid && form.editUserSettingsForm.submitted))">*Please enter address line1.</small>
				  </div>

				  <div id="oz-signup-input-group" class="input-group">
				  	<input type="text" name="addressline2" class="form-control" ng-model="user_settings_data.location.address2" placeholder="address line2" required>
				  	<small style="color:red;" ng-show="((form.editUserSettingsForm.addressline2.$dirty && form.editUserSettingsForm.addressline2.$invalid) || (form.editUserSettingsForm.addressline2.$invalid && form.editUserSettingsForm.submitted))">*Please enter address line2.</small>
				  </div>

				  <div id="oz-signup-input-group" class="input-group">
				  	<input type="text" name="area" class="form-control" ng-model="user_settings_data.location.area" placeholder="area" required>
				  	<small style="color:red;" ng-show="((form.editUserSettingsForm.area.$dirty && form.editUserSettingsForm.area.$invalid) || (form.editUserSettingsForm.area.$invalid && form.editUserSettingsForm.submitted))">*Please enter area.</small>
				  </div>

				  <div id="oz-signup-input-group" class="input-group">
				  	<input type="text" name="city" class="form-control" ng-pattern="/^[^0-9]*$/" ng-model="user_settings_data.location.city" placeholder="city" required>
				  	<small style="color:red;" ng-show="((form.editUserSettingsForm.city.$dirty && form.editUserSettingsForm.city.$invalid) || (form.editUserSettingsForm.city.$invalid && form.editUserSettingsForm.submitted))">*Please enter city.</small>
				  </div>

				  <div id="oz-signup-input-group" class="input-group">
				  	<input type="text" name="country" class="form-control" ng-pattern="/^[^0-9]*$/" ng-model="user_settings_data.location.country" placeholder="country" required>
				  	<small style="color:red;" ng-show="((form.editUserSettingsForm.country.$dirty && form.editUserSettingsForm.country.$invalid) || (form.editUserSettingsForm.country.$invalid && form.editUserSettingsForm.submitted))">*Please enter country.</small>
				  </div>

				  <div id="oz-signup-input-group" class="input-group">
				  	<input type="text" name="state" class="form-control" ng-pattern="/^[^0-9]*$/" ng-model="user_settings_data.location.state" placeholder="state" required>
				  	<small style="color:red;" ng-show="((form.editUserSettingsForm.state.$dirty && form.editUserSettingsForm.state.$invalid) || (form.editUserSettingsForm.state.$invalid && form.editUserSettingsForm.submitted))">*Please enter state.</small>
				  </div>

				  <div id="oz-signup-input-group" class="input-group">
				  	<input type="text" name="zipcode" class="form-control" ng-pattern="/^[0-9]{6}$/" ng-model="user_settings_data.location.zipcode" placeholder="zipcode" required>
				  	<small style="color:red;" ng-show="((form.editUserSettingsForm.zipcode.$dirty && form.editUserSettingsForm.zipcode.$invalid) || (form.editUserSettingsForm.zipcode.$invalid && form.editUserSettingsForm.submitted))">*Please enter zipcode.</small>
				  </div>

					<div id="oz-signup-input-group" class="input-group">
						<button style="width: 49.3%;margin:.5px;background-color:transparent;border-color: #b3b3b3; color:black;font-weight:bold;border-radius:1px;" class="btn btn-primary" ng-click="cancelEditUser()"><i class="fa fa-times"></i>&nbsp;&nbsp;Cancel</button>
						<button style="width: 49.3%;margin:.5px;background-color:#EC670D;border-color: #E47814;font-weight:bold;border-radius:1px;" class="btn btn-primary" ng-click="editUser()"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
					</div>

				</form>	
			</div>
	<!-- Update User Settings end.....................................    -->

	<!-- View User Settings Start.....................................    -->
			<div ng-hide="user_edit">
				<button  ng-hide="user_edit" style="background-color:#24677C; border-color:#24677C;font-size: 12px; font-weight:bold; letter-spacing:1px; " class="  btn btn-sm btn-primary pull-right" ng-click="enableEditUser(user_data)"><i class="fa fa-edit"></i>&nbsp;&nbsp;Edit</button>
          
        <dl class="dl-horizontal">
        	<dt>Username:</dt>
          <dd>{{user_data.username}}</dd>
        </dl>
        <dl class="dl-horizontal">  
          <dt>Email:</dt>
          <dd>{{user_data.email}}</dd>
        </dl>
        <dl ng-show="user_settings_data.location" class="dl-horizontal">
        	<dt>Address:</dt>
          <dd>
            <address>
              {{user_data.location.address1}}<br>
              {{user_data.location.address2}}<br>
              {{user_data.location.area}}, {{user_data.location.city}}<br>
              {{user_data.location.state}}<br> {{user_data.location.country}}<br>
              {{user_data.location.zipcode}}
            </address>
          </dd>
        </dl>  
      </div>
  <!-- View User Settings end.....................................    -->
		</div>
	</div>
</div>