<div style="border: 1px solid #EEE8E8; border-radius:6px; padding:10px;" class="container">
	<div style="margin:0px;" class="row">
		<div class="col-md-6">
			<div id="tabs" >
				<ul id="tabPrice" class=" policyTab nav nav-pills nav-justified">
				  <li ng-class="active3" class="tabPolicyLi active"><a showtab="" href="" ui-sref="managedeliverycharges.view.display" ng-click="viewAvailableAreaList()">View Area Coverage</a></li>
				  <li ng-class="active3" class="tabPolicyLi"><a showtab="" href="" ui-sref="managedeliverycharges.view.manage" ng-click="manageDeliveryAreaAvailability()">Manage Area Coverage</a></li>
				</ul>
			</div>
		</div>
	</div>	
	<div style="margin:0px;" class="row">
		<div class="col-md-12">
			<div ui-view></div>
		</div>
	</div>		
</div>
