<div style="padding:10px;" class="container">
	<div ng-show="AllBranchAreaList.length !== 0" style="margin:0px;" class="row">
		<div style="margin:10px auto;" class="col-md-12">
			<table class="table table-striped table-condensed">
				<thead>
					<tr style="letter-spacing:1px; font-size:13px; font-weight:bold; text-transform:uppercase;">
						<td width="10%">Serial #</td>
						<td width="15%">City</td>
						<td width="15%">Zipcode</td>
						<td width="15%">Area</td>
						<td width="15%">Availability</td>
						<td width="10%">Delivery Charge(<i class="fa fa-inr"></i>&nbsp;or&nbsp;%)</td>
						<td width="10%">Minimum Value(<i class="fa fa-inr"></i>)</td>
						<td width="10%">Maxmium Value(<i class="fa fa-inr"></i>)</td>
					</tr>
				</thead>
				<tbody>
					<tr style="letter-spacing:1px; font-size:12px; text-transform:uppercase;" ng-repeat="area in AllBranchAreaList">
						<td>{{$index + 1}}</td>
						<td>{{area.coverage.city}}</td>
						<td>{{area.coverage.zipcode}}</td>
						<td>{{area.coverage.area}}</td>
						<td><p style="font-size:12px;"><span class="label label-success"><i class="fa fa-check"></i>&nbsp;&nbsp;Available</span></p></td>
						<td><p style="font-size:12px;letter-spacing:1px;">{{area.value}}</p></td>
						<td><p style="font-size:12px;letter-spacing:1px;">{{area.minorderamt}}</p></td>
						<td><p style="font-size:12px;letter-spacing:1px;">{{area.maxorderamt}}</p></td>
					</tr>
				</tbody>				
			</table>
		</div>
	</div>
	<div ng-show="AllBranchAreaList.length == 0" style="padding:40px; opacity: .8; margin-bottom: 1px; color: rgb(80, 74, 74);background-color:#F1F1F1; letter-spacing: 1px;" class="row">
    <div class="col-md-12">
      <div class="no-message">
        <center>
          <p style="font-size: 14px;">You have not added any delivery area coverage details to your branch.</p>      
          <p style="font-size: 12px;">To start managing area availability please select area as per delivery available by your branch. Your list of available areas, delivery charges and other related information will be shown here.</p>
        </center>
      </div>
    </div>
  </div>
</div>		