<!-- oz_home-->
<div style="margin:0px;" id="oz-row-main-view" class="row">

  <div class="col-md-1">
  </div>

  <div style="padding:0px;" class="col-md-4">
    <div ui-view="oz-signup"></div>
  </div>

  <div style="padding:0px;margin:100px auto;" class="col-md-2">
    <center>
    	<div style="border: 1px solid #BBBDB7;height: 150px; width:0px; margin:5px auto;"></div>
    	<div style="font-size: 15px; font-weight:bold; color:#BBBDB7;">OR</div>
    	<div style="border: 1px solid #BBBDB7;height: 150px; width:0px; margin:5px auto;"></div>
    </center>
  </div>

  <div style="padding:0px;" class="col-md-4">
    <div ui-view="oz-signin"></div>
  </div>

  <div class="col-md-1">
  </div>

</div>