 <div class="list-group-item orderbox"> <!-- ngrepeat outer box css-->

<!-- order /////////////////////////////////// -->
<div class="headingOrderDiv"> 
 <span class="bold">Order No: </span> <span class="oz-contentsRight">{{order.suborderid}}</span>

      <span  class=" label label-info  font14 pull-right "  ng-class="{ 
                     bgGreen1: (order.status =='orderreceived' ) ,
                     bgGreen: (order.status == 'accepted') ,
                     bgOrange: (order.status =='inproduction' ) ,
                     bgOrange1: (order.status == 'packing'),
                     bgOrange2: (order.status =='factorytostore' ) ,
                     bgBlue: (order.status == 'indelivery') ,
                     bgGray: (order.status == 'ordercomplete') ,
                     bgRed: (order.status =='cancelled' ) ,
                     bgRed1: (order.status == 'rejected')
                    }">{{order.status}}</span>
 </div>
 <!-- order /////////////////////////////////// -->


<!-- Delivery////////////////////////////////// -->
<div class="headingDiv"> 
<span class="bold">Delivery Info</span>
 <div  class="pull-right">
        <span class="bold" ng-show="order.deliverydate"> Delivery On </span> <span ng-show="order.deliverydate" class=" oz-contentsRight">{{ getOrderDate(order.deliverydate ) }}</span>
      </div> 


</div>


  <div class="row margintop5 " ><!-- 2nd line -->
     
     
     <div  class="col-md-6">
        <span class="bold">Order Created : </span> <span class=" oz-contentsRight">{{ getOrderDate(order.createdate )  }}</span>
      </div>



      <div  class="col-md-6">
        <span class="bold">Preferred Delivery : </span> <span class=" oz-contentsRight">{{ getOrderDate(order.preferred_delivery_date ) }}</span>
      </div>
     
     <!--  <div  class="col-md-4">
        <span class="bold" ng-show="order.deliverydate"> Delivery On </span> <span ng-show="order.deliverydate" class=" oz-contentsRight">{{order.deliverydate | date:'yyyy-MM-dd ' }}</span>
      </div> -->
    
     </div><!--  2nd line -->



     <div class="row margintop5"><!--  3rd line -->
        <div  class="col-md-4">
          <span class="bold">Delivery Type: </span> <span class=" oz-contentsRight">{{order.deliverytype}}</span>
        </div>
        <div  class="col-md-4">
          <span class="bold">Payment By: </span> <span  class="  oz-contentsRight">{{order.buyerpayment.mode}}</span>
        </div> 
      
        <div  class="col-md-4" >  <span class="bold">Payment Status:  </span> <span  class="  oz-contentsRight">{{order.buyerpayment.status}}</span>
</div>
 

      </div><!--  3rd line -->

    

          <div class=" margintop5"  ng-show="order.deliverytype=='home'"><!--  2nd line -->

           <span class="bold">Delivery Address : </span> <span class="oz-adress"> {{order.delivery_address.address1}}  {{order.delivery_address.address2}}   {{order.delivery_address.area}}  {{order.delivery_address.city}}  {{order.delivery_address.state}}  {{order.delivery_address.country}}  {{order.delivery_address.zipcode}} </span>
          </div>

          <div class=" margintop5"  ng-show="order.deliverytype=='pickup'"><!--  2nd line -->

           <span class="bold">Pickup Address : </span> <span class="oz-adress"> {{order.pickup_address.address1}}  {{order.pickup_address.address2}}   {{order.pickup_address.area}}  {{order.pickup_address.city}}  {{order.pickup_address.state}}  {{order.pickup_address.country}}  {{order.pickup_address.zipcode}} </span>
          </div>
<!-- Delivery////////////////////////////////// -->


<!-- Items ////////////////////////////////// -->
<div class="headingDiv"> 
<span class="bold">Items </span>
</div>



          <div > <!-- product table -->
           <div class="productItemheader row margintop5 ">
              
            <!--   <div  class="col-md-1">
                <span class="bold">PC  </span> 
              </div> -->
              <div  class="col-md-3">
                <span class="bold OZmarginleft60" > Name </span> 
              </div>
               <div  class="col-md-2">
                <span class="bold"> Code  </span> 
              </div>
               <div  class=" col-md-2 ">
                <span class="bold">Qty </span> 
              </div>
               <div  class="col-md-2">
                <span class="bold">Price </span> 
              </div>
               <div  class="col-md-2">
                <span class="bold pull-center">Sub Total </span> 
              </div>
        </div>

        <div class="row margintop5 rowSideMargin" ng-repeat="product in order.products" ng-class-even="'OZ-evenRow'"> <!-- ng-repeat for product -->
             
<!--                <div  class="col-md-1">
                 <span ng-show="product.messageonproduct">
                   <a href="" ng-click="productMassage=1">
                    <span class="fa fa-cog fa-lg"> </span>
                   </a>
                  </span>
                  
                      <div class="OZ-cakeMessage" ng-show="productMassage==1"> {{product.messageonproduct}}  <i ng-click="productMassage=0 " class="pull-right prodo-cursor   glyphicon glyphicon-circle-arrow-up " ></i></div>
              </div> -->

              <div  class="col-md-3">
                
                 <span class=" " > 
             
                  
 
                
                       <span style="">
                       <a href="" ng-init="productMassage = false" ng-click="productMassage = productMassage === false ? true: false;" ng-show="product.productconfiguration">
                        <span class="fa fa-cog fa-lg" style="padding-right:5px"> </span>
                       </a>
                      </span>
               
                  {{product.productname}} 
                 

                  <div class="OZ-cakeMessage" ng-show="productMassage==1">
                     
                      <table style="margin:2px ;background-color:rgb(246, 241, 246)" class="borderless table table-condensed ">
                        <tr>
                          <td class="width25"><span class=" bold">Name </span></td>
                          <td class="width50"><span class=" bold">Value </span></td>
                          <td class="width25"><span class=" bold">Price </span></td>
                        </tr>
                        </table>
                      <table style="margin:2px; " class="borderless table table-condensed " ng-repeat="config in product.productconfiguration">
                        <tr ng-show="config.prod_configtype =='msg'">
                          <td class="width25"><span class=" "> Message </span></td>
                          <td class="width50"><span class=" breakword"> {{config.data.msg}}</span></td>
                          <td class="width25"> {{config.prod_configprice.value}} / {{config.prod_configprice.uom}}</td>
                        </tr>
                        <tr ng-show="config.prod_configtype =='ftp'">
                          <td class="width25"><span class=" "> Foodtype </span></td>
                          <td class="width50"><span class=" breakword">  {{config.data.ftp}}</span></td>
                          <td class="width25"> {{config.prod_configprice.value}} / {{config.prod_configprice.uom}}</td>
                        </tr>
                        <tr ng-show="config.prod_configtype =='ppr'">
                          <td class="width25"><span class=" "> Photo print </span></td>
                          <td class="width50"> <img class="orderConfigImg" style="height:50px; width:50px" ng-src="{{config.data.ftp}}" alt-SRC src="../assets/images/if_no_org_images_available.jpg"  ></td>
                          <td class="width25"> {{config.prod_configprice.value}} / {{config.prod_configprice.uom}}</td>
                        </tr>

                      </table>



                  
                   <!-- <i ng-click="productMassage=0 " class="pull-right prodo-cursor   glyphicon glyphicon-circle-arrow-up " ></i> -->
                   </div>


                
                 </span>
<!--                     <span class="oz-productcode"> [ {{product.productcode}} ] </span> --> 
              </div>
                   <div  class="col-md-2">
                
                 <!-- <span class=" oz-contentsRight"> {{product.productname}} </span> -->
                 <!-- oz-productcode = bolder class-->
                    <span class="">  {{product.productcode}} </span> 
              </div>

              <div  class="col-md-2">
                 <span class=" oz-contentsRight breakword">{{product.qty}} {{product.uom}}</span>
              </div>

              <div  class="col-md-2">
                 <span class=" oz-contentsRight breakword">{{product.currency}}  {{product.baseprice.toFixed(2)}}</span>
              </div>

              <div  class="col-md-2">
                 <span class="marginLeft15 oz-contentsRight  breakword"> &#x20B9;  {{product.orderprice.toFixed(2)}}</span>
              </div>


       </div> <!-- ng-repeat for product -->


            <hr class="myhr">
        <div class="row margintop5">
              <div  class="col-md-3"> 
              <div ng-show="order.orderinstructions">
                  <a href="" ng-init="instruction=false" ng-click="instruction = instruction === false ? true: false;">
                     Order Instructions  <i class="fa fa-hand-o-right"></i>
                  </a>
                   <div class="OZ-cakeMessage" ng-show="instruction==1">{{order.orderinstructions}} </div>

              </div>
              </div>
         <div  class="col-md-2"> 
           
         </div> <div  class="col-md-2"></div>
         <div  class="col-md-2">
          <span class="bold">Grand Total </span> 
        </div>
         <div  class="col-md-2">
          <span class="bold breakword"> &#x20B9;  {{order.suborder_price.toFixed(2)}} </span> 
         </div>
       </div>



          </div>  <!-- product table -->




<!-- Items ////////////////////////////////// -->


<!-- Tracking tree////////////////////////////////// -->
<div ng-hide=" order.status=='cancelled' || order.status=='rejected'">
<div class="headingDiv"> 
<span class="bold">Order Tracking</span>


      


</div>


<div> <!-- order tracking tree -->


<!-- action bar -->


<div class="pull-right" ng-hide="order.status=='ordercomplete' || order.status=='cancelled' || order.status=='rejected'">
       
            <div class="btn-group paddingRight10"><!-- <span class="Valign">Action</span> -->
              <a class=" dropdown-toggle "  type="button" data-toggle="dropdown">
                 <span class="fa fa-ellipsis-v fa-3x prodo-cursor"></span>
              </a>
              <ul class="dropdownRightPosition dropdown-menu" style="right:4px" role="menu">
                               <!--ng-click -call showDisplay for previous menu where states not defined in ref dic  -->
            

                   <li class="" ng-repeat="config in orderConfigStatus" ng-show="config.action !==null && config.order_status==order.status ">   
                   
                    <a   href="#"   ng-click="changeStatus(config.action , order)"><span class="capital"> {{config.action}} </span></a>
                    
                    

                  </li>

                   <li class="" ng-show="order.status=='orderreceived'"> 
                     <a href="#"   ng-click="changeStatus('reject' , order)"><span class="capital"> Reject</span></a>
                  </li>

                  <li class="" ng-hide="order.status=='orderreceived' || order.status=='done'">
                    <a href="#"   ng-click="changeStatus('cancel' , order)"><span class="capital"> Cancel</span></a>
                  </li>
                  



                </ul>
               </div>
          </div>

<!-- action bar -->
             <div id="tabs">
          <ul id="tabTracking" class=" oz-trackingUL nav nav-pills" ng-init="firstTreeTabOpen(order.status);" >
            <li class="tabtrackingLi"  >
              <a  class="prodo-cursor" id="prodoCommentTab" ng-click="tab1 = true;
            tab2 = false; tab3 = false;tab4 = false;">
              <div id="circle" ng-class="{activateOrange: (order.status=='orderreceived'   )    , activate : ( order.status=='accepted' || order.status=='inproduction' || order.status=='packing' || order.status=='factorytostore' || order.status=='indelivery'   || order.status=='ordercomplete'  )  }"></div> <!-- set ngclass -->   <div id="line"></div>
              </a>
              <div ng-class="{active4 : tab1 == 1}"></div>
            </li>

            <li class="tabtrackingLi"  >
              <a id="prodoCommentSearchTab" class="prodo-cursor" ng-click="tab1 = false;
            tab2 = true; tab3 = false;tab4 = false;" >
             <div id="circle"  ng-class="{activate : (order.status=='inproduction' || order.status=='packing' || order.status=='factorytostore' || order.status=='indelivery'   || order.status=='ordercomplete'  )    }" ></div>    <div id="line"></div>
               </a>
               <div ng-class="{active4 : tab2 == 1}"></div>
            </li>

            <!--  <li class="tabtrackingLi"  >
              <a id="prodoCommentSearchTab" class="prodo-cursor" ng-click="tab1 = false;
            tab2 = false; tab3 = true;tab4 = false;" >
               <div id="circle" ng-class="{ activate : ( order.status== 'factorytostore' || order.status=='indelivery'   || order.status=='ordercomplete'  )     }" ></div>    <div id="line"></div>
               </a>
               <div ng-class="{active4 : tab3 == 1}"></div>
            </li> -->

             <li class="tabtrackingLi"   >
              <a id="prodoCommentSearchTab" class="prodo-cursor" ng-click="tab1 = false;
            tab2 = false; tab3 = false;tab4 = true;" >
               <div id="circle" ng-class="{activate : ( order.status== 'factorytostore' || order.status=='indelivery'   ||  order.status=='ordercomplete'  )     }" ></div>   
               </a>
               <div ng-class="{active4 : tab4 == 1}"></div>
            </li>
          </ul>
      </div>

            <div class="tab-content trackingTabContent" >
      <br/>
         <div id=""  class="oz-paddingLeft" ng-show="tab1 == true" >
                    <p ng-style="displayAction('orderreceived')" class="displaynone"><i class="oz-tickNotActive fa fa-check fa-lg" ng-class="{   activatetick : ( order.status=='orderreceived' || order.status=='accepted' || order.status=='inproduction' || order.status=='packing' || order.status=='factorytostore' || order.status=='indelivery'   || order.status=='ordercomplete'  )   }"></i> Order start</p>

                    <p ng-style="displayAction('accepted')" class="displaynone"><i class="oz-tickNotActive fa fa-check fa-lg" ng-class="{activatetick :  ( order.status=='accepted' || order.status=='inproduction' || order.status=='packing' || order.status=='factorytostore' || order.status=='indelivery'   || order.status=='ordercomplete'  )   }"></i> Approved</p>
         </div>

          <div class="oz-paddingLeft" id="" ng-show="tab2 == true" >
                   <p ng-style="displayAction('inproduction')" class="displaynone">  <i class="oz-tickNotActive fa fa-check fa-lg" ng-class="{activatetick : (order.status=='inproduction' || order.status=='packing' || order.status=='factorytostore' || order.status=='indelivery'   || order.status=='ordercomplete'  )   }"></i> In production</p>
                   <p ng-style="displayAction('packing')" class="displaynone">  <i class="oz-tickNotActive fa fa-check fa-lg" ng-class="{activatetick :(order.status=='packing' || order.status=='factorytostore' || order.status=='indelivery'   || order.status=='ordercomplete'  )   }"></i> Packing</p>
         </div>

         <!--  <div  class="oz-paddingLeft" id="" ng-show="tab3 == true" >
                   <p>  <i class="oz-tickNotActive fa fa-check fa-lg" ng-class="{activatetick :( order.status=='factorytostore' || order.status=='indelivery'  || order.status=='ordercomplete'  )   }"></i> Factory to store</p>
         </div> -->

          <div class="oz-paddingLeft" id="" ng-show="tab4 == true" >
                    <p  ng-style="displayAction('factorytostore')" class="displaynone">  <i class="oz-tickNotActive fa fa-check fa-lg" ng-class="{activatetick :( order.status=='factorytostore' || order.status=='indelivery'  || order.status=='ordercomplete'  )   }"></i> Factory to store</p>
                    <p  ng-style="displayAction('indelivery')"  class="displaynone"><i class="oz-tickNotActive fa fa-check fa-lg" ng-class="{activatetick : (  order.status=='indelivery'  || order.status=='indelivery' || order.status=='ordercomplete'  )   }"></i> 
                       <span ng-show="order.deliverytype=='pickup'">Store pickup</span>
                       <span ng-show="order.deliverytype=='home'">Home delivery</span>
                    </p>

           
                    <p ng-style="displayAction('ordercomplete')" class="displaynone"><i class="oz-tickNotActive fa fa-check fa-lg" ng-class="{activatetick :  ( order.status=='ordercomplete'  )  }"></i> Order complete </p>
         </div>
         <div ng-show="tab1==1 || tab2==1 || tab3==1 || tab4==1" >
                <i ng-click="tab1=0; tab2 =0; tab3=0; tab4 =0; " class="prodo-cursor ozUpArrow  glyphicon glyphicon-circle-arrow-up " ></i>
         </div>
      </div>



          </div><!-- order tracking tree -->
    </div>
<!-- Tracking tree////////////////////////////////// -->



<!-- Innvoice ////////////////////////////////// -->
<div >
<div class="headingDiv"> 
<span class="bold">Customer Info & Invoice </span>
</div>
<div class="row">
  <div>


     <div  class="col-md-4">
        <span class="bold">Mobile No:</span>
        <span ng-bind="order.consumer.mobileno"> </span>
    </div>

      <div  class="col-md-6">
        <span class="bold">Email:</span>
        <span ng-bind="order.consumer.email " class="breakword"> </span>
    </div>
     <div  class="col-md-2">
       <div class="pull-right" ng-show="(  order.status=='packing' || order.status=='factorytostore' || order.status=='indelivery'  ||  order.status=='ordercomplete'  )">
        <a ng-click="printInvoice(order.suborderid,selectedBranchId)" href="" class="btn btn-default btn-sm ">  Invoice <span class= "fa fa-print "></span></a>
       </div>
    </div>

  </div>
</div>
       



</div><br/>
<!-- Innvoice ////////////////////////////////// -->
     

</div> <!-- ngrepeat outer box css-->
         <hr class="myhr" style="border-color:#A89797">



