<div ng-if="order_count.length > 0" style="border: 1px solid #EEE8E8; border-radius:6px; padding: 10px;">

	<div style="padding: 5px;margin:10px;" ng-repeat= "count in order_count" class="branch-order-count">
		<div ng-show="count.status == 'past' " style="text-transform:uppercase; letter-spacing:1px;font-weight:bold; font-size:12px;margin-left:10px;">
		<p>Delivered Orders</p> 
		</div>
		<div ng-show="count.status == 'past' " class = "zoomCssControlClock clock" oz-clock  current-value = 'count.statuscount' style="margin:2em;width: 310%;left: -115%; top:-45px;" ></div>
	</div>	
	
</div>