<!--/*
  * Overview: order Template
  * Dated: 24-06-14.
  * Author: Bhagyashri Jangam
  * 
  */-->
<li  ng-repeat="order in orders |  filter:  search ">
    <div class="list-group-item orderbox orderbox1" ng-attr-id="{{order.deliverydate}}" > <!-- ngrepeat outer box css-->
         
      <div class=" margintop5 productsDate highlighrOrderContainer"  ><!--  2nd line -->
       <em class="oz-adress" ng-class="{TextGray : order.deliverydate < today }"> {{ convertMomentFormat(order.deliverydate)}}</em>  
       <span class="anchor" ng-click="printOrder(order.deliverydate)"><i class="fa fa-print pull-right" style=" margin:5px;">  </i></span>
      </div>

      <hr class="myhr">

        <div > <!-- product table -->
           <div class="row margintop5">
              <div  class="col-md-4">
                <span class="bold">Product name </span> 
              </div>
               <div  class="col-md-4">
                <span class="bold">Product code  </span> 
              </div>
               <div  class="col-md-4">
                <span class="bold">Quantity </span> 
              </div>
              
        </div>

<!--         <div class="row margintop5 rowSideMargin" ng-repeat="product in order.products   |  filter:  search "  ng-class-even="'OZ-evenRow'"> 
              <div  class="col-md-5">
                
                 <span class=" oz-contentsRight "> {{product.productname}} </span>
              </div>
                   <div  class="col-md-4">
                
                    <span class=""> {{product.productcode}}  </span> 
              </div>

              <div  class="col-md-3">
                 <span class=" oz-contentsRight">{{product.totalqty}} {{product.uom}}</span>
              </div>
 -->
      
               <div class = 'row' style = 'border-bottom : 1px solid #ccc; border-bottom : 0px'>
                 <div class="row rowSideMargin" ng-repeat="product in order.products   |  filter:  search " > 
                      <div  class="col-md-4">  
                     <!--     <span style = 'font-weight: bold;'>  -->
                               <span style="">
                               <span class="anchor" ng-init="productMassage = false" ng-click="productMassage = productMassage === false ? true: false;" ng-show="product.productdetails.length>0">
                                    <span class="fa fa-asterisk fa-lg" style="padding-right:5px"> </span>
                               </span>

                              <span  ng-show="product.productdetails.length<=0">
                                    <span class="fa fa-asterisk fa-lg" style="padding-right:5px; color : #FFFFFF"> </span>
                               </span>
                              </span>
                           <span class=" oz-contentsRight "> {{product.productname}} </span>
         
                     <!--     </span> -->
                      </div>
                      <div  class="col-md-4 ">
                         <span class=" oz-contentsRight" >{{product.productcode}} </span>
                      </div>
                      <div  class="col-md-4 " style = ''>
                         <span class=" oz-contentsRight"> {{product.totalqty}} {{product.uom}}</span>
                      </div>

                          <div  class="" ng-class="product.productdetails.length>0 ? 'removenghide' : 'notremovenghide'" ng-show="productMassage==1" style = 'margin : 30px;'  >
                              <table style="margin:2px ;background-color:rgb(246, 241, 246)" class="borderless table table-condensed "  >
                                <tr>
                                  <td class="width50 " style = 'font-weight: bold;'><span class=" bold">Order Number </span></td>
                                  <td class="width50 " style = 'font-weight: bold;'><span class=" bold">Quantity </span></td>
                                </tr>
                                </table>
                              <table style="margin:2px; " class="borderless table table-condensed " ng-repeat="prod in product.productdetails">
                                <tr >
                                  <td class="width50"><span class=" "> {{prod.suborderid}} </span></td>
                                  <td class="width50"><span class=" breakword"> {{prod.qty}} {{product.uom}}</span></td>
                                </tr>
                              </table>
                         </div>


                 </div> 
               </div>
 
              <!--        </div>  -->

          </div>  <!-- product table -->
        
    </div> <!-- ngrepeat outer box css-->
       <!-- <hr class="myhr" style="border-color:#A89797"> -->



</li>