<div ng-show="orderConfigStatus">

<div ng-show="selectedBranchId ">

   <!-- Modal -->
    <div class="modal" id="cancelReasonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Reason for Rejection</h4>
            </div>
            <div class="modal-body" style="height:200px;">
           <form  id="Edit" class="css-form"  name="form.orderReason"   >  
          
              <p style="font-size:12px;" class="text-muted">** Please enter reason for your order cancellation / rejection. Reqired field [max 160 characters]</p>
            
            <textarea  type="text" 
                  ng-maxlength="160" name="reason" id="prodo-product-featuresDescription_textfield" class="form-control prodo-validation"  ng-model="reason.text"  col="40" required ></textarea>
              
                      
             <div  ng-show="(form.orderReason.submitted==true && form.orderReason.reason.$invalid==true) || ( form.orderReason.reason.$invalid==true && form.orderReason.reason.$dirty==true)" class="prodo-product-Invalid">
              <span ng-show="form.orderReason.reason.$error.required">* Please enter reson</span>
              <span ng-show="form.orderReason.reason.$error.maxlength">* Reason can not be more than 160 characters  </span>
              </div>

               <a   ng-click="reasonEntered(reason)" class="btn btn-primary   pull-right prodo-margin5"   ><i class="fa fa-floppy-o"></i>  &nbsp; Submit</a>
               <a class="btn btn-default pull-right prodo-margin5"  ng-click="form.orderReason.submitted=false;"data-dismiss="modal" aria-hidden="true" > <i class="glyphicon glyphicon-remove"></i> &nbsp; Cancel </a>

            </form>
                
           </div>
            
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->



               <!-- Modal -->
    <div class="modal" id="calenderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel"> Select Delivery Slot</h4>
            </div>
            <div class="modal-body">

            <div ng-show="(orderPrefDate | date:'dd-MM-yyyy')  == ( todaysDate1 | date:'dd-MM-yyyy')  "> 

            <div  ng-show="todaysDate1.getHours() < order.prefdeltimeslot.from" class="row" style="padding:10px; padding-left:20px;" >
             <span >
              <input type="radio" ng-model="deliveryOption" value="pref"  >
              <span > Accept Preferred Delivery Date  - [{{order.preferred_delivery_date | date:'dd-MM-yyyy ' }}] And On Time Slot - {{changeTimeSlotDisplayFormat( order.prefdeltimeslot.from ) }} To  {{ changeTimeSlotDisplayFormat(order.prefdeltimeslot.to) }}</span>
              </span>
            </div> 

              <div  ng-hide="todaysDate1.getHours() < order.prefdeltimeslot.from" class="row" style="padding:10px; padding-left:20px;" tooltip="This option is disabled as today's date is more than customers preferred delivery date." tooltip-placement="top">
              <span >
              <input type="radio" ng-model="deliveryOption" value="pref" disabled >
              <span style="color:gray"> Accept Preferred Delivery Date  - [{{order.preferred_delivery_date | date:'dd-MM-yyyy ' }}] And On Time Slot - {{ changeTimeSlotDisplayFormat(order.prefdeltimeslot.from )}}  To  {{ changeTimeSlotDisplayFormat( order.prefdeltimeslot.to) }}</span>
              </span>
            </div> 

            </div>


            <div ng-show="(orderPrefDate | date:'dd-MM-yyyy')  < ( todaysDate1 | date:'dd-MM-yyyy' ) ">
            <div  class="row" style="padding:10px; padding-left:20px;" tooltip="This option is disabled as today's date is more than customers preferred delivery date." tooltip-placement="top">
             <span >  <input type="radio" ng-model="deliveryOption" value="pref" disabled >
              <span style="color:gray"> Accept Preferred Delivery Date  - [{{order.preferred_delivery_date | date:'dd-MM-yyyy ' }}] And On Time Slot - {{changeTimeSlotDisplayFormat( order.prefdeltimeslot.from) }} To {{changeTimeSlotDisplayFormat( order.prefdeltimeslot.to )}}</span>
              </span>
            </div> 
            </div>

            <div class="row" style="padding:10px; padding-left:20px;" ng-hide="((orderPrefDate | date:'dd-MM-yyyy') <  (todaysDate1  | date:'dd-MM-yyyy')) || ((orderPrefDate | date:'dd-MM-yyyy')  == ( todaysDate1 | date:'dd-MM-yyyy') ) ">
             <span >  <input type="radio" ng-model="deliveryOption" value="pref"  >Accept Preferred Delivery Date  - [{{order.preferred_delivery_date | date:'dd-MM-yyyy ' }}] And On Time Slot - {{changeTimeSlotDisplayFormat( order.prefdeltimeslot.from) }} To {{ changeTimeSlotDisplayFormat(order.prefdeltimeslot.to )}}
             </span>
            </div> 
             <div class="row" style="padding:10px; padding-left:20px;">
             <span >
               <input type="radio" ng-model="deliveryOption" value="custom" > Select New Delivery Date 
             </span>
             <span ng-show="deliveryOption=='custom'" >&nbsp; &nbsp; <a  href="" ng-init="showCal=0" ng-click="showCal=1"> [{{delivery_date.date | date:'dd-MM-yyyy'}} ]</a>
               
             </span>       
                 
            </div> 



            <div ng-show="deliveryOption=='custom'" style="margin:10px; margin-left:30px;">
             <div ng-show="showCal==1" class="row">
                    <div class="col-md-6">
                        <p class="input-group">
                 <input   id="delivery_date"  type="text" placeholder="Select delivery date" ng-model="delivery_date.date" class=" form-control oz-datepickerTextWidth "  datepicker-popup="{{format}}"  is-open="opened" min="todaysDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" required close-text="Close" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i> </button>
                          </span>
                        </p>
                    </div><br/>
                </div>
           
            <span ng-show="delivery_date.date">
            
            <span>Select New Delivery Time Slot</span><br/>


               <p ng-repeat="ds in deliveryTimeSlots" >
             
               <span ng-show="(delivery_date.date | date:'dd-MM-yyyy' )== (todaysDate1 |  date:'dd-MM-yyyy') "> 
                 <span ng-show=" todaysDate1.getHours() < ds.from " >
                  <input  type="radio" ng-model="delivery_date.newDeliverySlot" ng-value="ds" > &nbsp; &nbsp; {{changeTimeSlotDisplayFormat(ds.from)}}&nbsp; &nbsp; <span style="color:gray">|</span>  &nbsp; &nbsp; {{changeTimeSlotDisplayFormat(ds.to)}} 
                  </span>
               </span>

                 <span ng-hide="(delivery_date.date | date:'dd-MM-yyyy' )== (todaysDate1 |  date:'dd-MM-yyyy') ">
                  <input   type="radio" ng-model="delivery_date.newDeliverySlot" ng-value="ds" > &nbsp; &nbsp; {{changeTimeSlotDisplayFormat(ds.from)}}&nbsp; &nbsp;  <span style="color:gray">|</span>  &nbsp; &nbsp; {{changeTimeSlotDisplayFormat(ds.to)}} 
               </span>

                
               </p>
             </span>
                
            </div>
            <a type="button" class="btn btn-default margin-left450" ng-click="deliveryOption='';" data-dismiss="modal"> <i class="glyphicon glyphicon-remove"></i>  &nbsp; Cancel</a>
            <a class="btn btn-primary  "  ng-click="onDateSelected(delivery_date,deliveryOption,order)">Accept </a>
           </div>
          </div>
        </div>
      </div>
      <!-- /.modal -->


      

<div id="tabs">
    <ul id="tabPrice" class="oz-fixedPosition orderTab nav nav-pills" ng-init="search=''; tabForOrders.recieved = true; tabForOrders.approval = false;
      tabForOrders.processing = false; tabForOrders.delivery = false; tabForOrders.past=false; tabForOrders.product=false;" style="font-size:12px;" >
      
      <li class="tabPolicyLi" ng-class="{active3 : tabForOrders.recieved == 1}" >
        <a  class="prodo-cursor" id="prodoCommentTab" ng-click="search=''; getReceived(); tabForOrders.recieved = true; tabForOrders.approval = false;tabForOrders.processing = false; tabForOrders.delivery = false; tabForOrders.past=false; tabForOrders.product=false;">
        
        <div class="row" >
          <div class="col-md-12">
              Received
        <!--   </div>
          <div class="col-md-3"> -->
            <span class="badge bgGreen "  ng-show="receivedOrdersCount" >{{receivedOrdersCount}}</span>
            <span class="badge bgGreen " ng-hide="receivedOrdersCount">0</span>
          </div>
        </div>
         
        </a>
      </li>

      <li class="tabPolicyLi" ng-class="{active3 : tabForOrders.approval == 1}" >
        <a  class="prodo-cursor" id="prodoCommentTab" ng-click="search=''; getApproved();tabForOrders.recieved = false;tabForOrders.approval = true;tabForOrders.processing = false; tabForOrders.delivery = false; tabForOrders.past=false; tabForOrders.product=false;">
          <div class="row" >
            <div class="col-md-12">
                Approvals
        <!--     </div>
            <div class="col-md-4"> -->
              <span class="badge bgGreen"  ng-show="TotalOrdersCount" >{{TotalOrdersCount}}</span>
              <span class="badge bgGreen" ng-hide="TotalOrdersCount">0</span>
            </div>
         </div>
        </a>
      </li>

      <li class="tabPolicyLi" ng-class="{active3 : tabForOrders.processing == 1}"  >
        <a id="prodoCommentSearchTab" class="prodo-cursor" ng-click="search=''; getProcessing();tabForOrders.recieved = false; tabForOrders.approval = false; tabForOrders.processing = true; tabForOrders.delivery = false;  tabForOrders.past=false; tabForOrders.product=false;" >
        <div class="row" >
            <div class="col-md-12">
                Processing
          <!--   </div>
            <div class="col-md-4"> -->
              <span class="badge bgOrange "  ng-show="processingOrdersCount">{{processingOrdersCount}}</span>
             <span class="badge bgOrange" ng-hide="processingOrdersCount">0</span>
            </div>
         </div>

     	   
         </a>
      </li>

       <li class="tabPolicyLi" ng-class="{active3 : tabForOrders.delivery == 1}"  >
        <a id="prodoCommentSearchTab" class="prodo-cursor" ng-click="search=''; getDelivery();tabForOrders.recieved = false; tabForOrders.approval = false;tabForOrders.processing = false; tabForOrders.delivery = true;  tabForOrders.past=false; tabForOrders.product=false;" >
      	   <div class="row" >
            <div class="col-md-12">
                Delivery
<!--             </div>
            <div class="col-md-4"> -->
              <span class="badge bgBlue" ng-show="deliveryOrdersCount">{{deliveryOrdersCount}}</span>
              <span class="badge bgBlue" ng-hide="deliveryOrdersCount">0</span>
            </div>
         </div>

         </a>
      </li>

       <li class="tabPolicyLi" ng-class="{active3 : tabForOrders.past == 1}"  >
        <a id="prodoCommentSearchTab" class="prodo-cursor" ng-click="search=''; getPastOrders(); tabForOrders.recieved = false; tabForOrders.approval = false;
      tabForOrders.processing = false; tabForOrders.delivery = false;  tabForOrders.past=true; tabForOrders.product=false;" >
      <div class="row" >
            <div class="col-md-12">
              Past 
  <!--           </div>
            <div class="col-md-4"> -->
              <span class="badge bgGray" ng-show="pastOrdersCount">{{pastOrdersCount}}</span>
              <span class="badge bgGray" ng-hide="pastOrdersCount">0</span>
            </div>
         </div>

      	 
         </a>
      </li>

       <li class="tabPolicyLi" ng-class="{active3 : tabForOrders.product == 1}"  >
        <a id="prodoCommentSearchTab" class="prodo-cursor" ng-click="search=''; tabForOrders.recieved = false; getProductOrders(); tabForOrders.approval = false;
      tabForOrders.processing = false; tabForOrders.delivery = false;  tabForOrders.past=false; tabForOrders.product=true;" >
       <div class="row" >
            <div class="col-md-12">
               Product  
            </div>
           <!--  <div class="col-md-4">
              
            </div> -->
         </div>

      	
         </a>
      </li>

    </ul>
</div>

<div class="tab-content" style="margin-left:10px; margine:10px;">
<br/><br/>
   <input type="text"  ng-model="search" class="form-control pull-right" placeholder="Order Search..." ng-show="orders.length>0" /><br/><br/>


 <div id="Remove" ng-show="tabForOrders.recieved == true " >
 	<div  ng-show="orders && hideReceivedOrders==false">
 	 <ul class="listStyle">
        <div oz-orders template-url="../ProviderWall/ManageOrders/views/oz.OrderByDate.tpl.html" id=""  >
        </div>
      </ul>
 	</div>
   <div ng-show="hideReceivedOrders==true" style="padding:40px; opacity: .8;margin-top: 2px;margin-bottom: 1px; color: rgb(80, 74, 74);background-color:#F1F1F1; letter-spacing: 1px;" class="row">
    <div class="col-md-12">
      <div class="no-message">
        <center>
          <p style="font-size: 14px;">You have no received orders </p>      
          <p style="font-size: 12px;">Product related order requests, their approval, delivery dates, cancellation and other important actions will be shown here.</p>
        </center>
      </div>
    </div>
  </div>
 </div>

 <div id="Remove" ng-show="tabForOrders.approval == true " >
  <div  ng-show="orders && hideApproveOrders==false">
   <ul class="listStyle">
        <div oz-orders template-url="../ProviderWall/ManageOrders/views/oz.OrderByDate.tpl.html" id=""  >
        </div>
      </ul>
  </div>
   <div ng-show="hideApproveOrders==true" style="padding:40px; opacity: .8;margin-top: 2px;margin-bottom: 1px; color: rgb(80, 74, 74);background-color:#F1F1F1; letter-spacing: 1px;" class="row">
    <div class="col-md-12">
      <div class="no-message">
        <center>
          <p style="font-size: 14px;">You have no orders to approve.</p>      
          <p style="font-size: 12px;">Product related order requests, their approval, delivery dates, cancellation and other important actions will be shown here.</p>
        </center>
      </div>
    </div>
  </div>
 </div>



  <div id="Remove" ng-show="tabForOrders.processing == true " >
	<div ng-show="orders && hideProcessingOrders==false" >
 	 <ul class="listStyle">
        <div oz-orders template-url="../ProviderWall/ManageOrders/views/oz.Order.tpl.html" id=""  >
        </div>
      </ul>
 	</div>

  <div ng-show="hideProcessingOrders==true" style="padding:40px; opacity: .8;margin-top: 2px;margin-bottom: 1px; color: rgb(80, 74, 74);background-color:#F1F1F1; letter-spacing: 1px;" class="row">
    <div class="col-md-12">
      <div class="no-message">
        <center>
          <p style="font-size: 14px;">You have no orders for packing.</p>      
          <p style="font-size: 12px;">Product order proccessing, packing and other related important actions will be shown here.</p>
        </center>
      </div>
    </div>
  </div>
 </div>



  <div id="Remove" ng-show="tabForOrders.delivery == true " >
  	<div ng-show="orders && hideDeliveryOrders==false" >
 	 <ul class="listStyle">
        <div oz-orders template-url="../ProviderWall/ManageOrders/views/oz.Order.tpl.html" id=""  >
        </div>
      </ul>
 	</div>

    <div ng-show="hideDeliveryOrders==true" style="padding:40px; opacity: .8;margin-top: 2px;margin-bottom: 1px; color: rgb(80, 74, 74);background-color:#F1F1F1; letter-spacing: 1px;" class="row">
      <div class="col-md-12">
        <div class="no-message">
          <center>
            <p style="font-size: 14px;">You have no orders to deliver.</p>      
            <p style="font-size: 12px;">Product order completion, delivery and other related important actions will be shown here.</p>
          </center>
        </div>
      </div>
    </div>

 </div>

   <div id="Remove" ng-show="tabForOrders.past == true " >
  	<div ng-show="orders && hidePastOrders==false" >
 	 <ul class="listStyle">
        <div oz-orders template-url="../ProviderWall/ManageOrders/views/oz.Order.tpl.html" id=""  >
        </div>
      </ul>
 	</div>

    <div ng-show="hidePastOrders==true" style="padding:40px; opacity: .8;margin-top: 2px;margin-bottom: 1px; color: rgb(80, 74, 74);background-color:#F1F1F1; letter-spacing: 1px;" class="row">
      <div class="col-md-12">
        <div class="no-message">
          <center>
            <p style="font-size: 14px;">You have no past orders to see.</p>      
            <p style="font-size: 12px;">Product orders that have been approved, cancelled, processed and completed earlier and other related important actions will be shown here.</p>
          </center>
        </div>
      </div>
    </div>
 </div>

   <div id="Remove" ng-show="tabForOrders.product == true " >
  	<div ng-show="orders  && hideProductOrders==false" >
 	 <ul class="listStyle">
        <div oz-orders template-url="../ProviderWall/ManageOrders/views/oz.productOrder.tpl.html" id=""  >
        </div>
      </ul>
 	</div>

  <div ng-show="hideProductOrders==true" style="padding:40px; opacity: .8;margin-top: 2px;margin-bottom: 1px; color: rgb(80, 74, 74);background-color:#F1F1F1; letter-spacing: 1px;" class="row">
      <div class="col-md-12">
        <div class="no-message">
          <center>
            <p style="font-size: 14px;">You have no product orders for today.</p>      
            <p style="font-size: 12px;">Product orders for today and other related important actions will be shown here.</p>
          </center>
        </div>
      </div>
    </div>
 </div>



</div>

</div>

</div>
<div ng-hide="orderConfigStatus" style="padding:40px; opacity: .8;margin-top: 2px;margin-bottom: 1px; color: rgb(80, 74, 74);background-color:#F1F1F1; letter-spacing: 1px;" class="row">
      <div class="col-md-12">
        <div class="no-message">
          <center>
            <p style="font-size: 14px;">Order configurations not found</p>      
            <p style="font-size: 12px;"> This provider does not have Order Configurations, Please add it from manage providers or contact your admin.</p>
          </center>
        </div>
      </div>
 </div>
