<div style="border: 1px solid #EEE8E8; border-radius:6px; padding:10px;" class="">
 <div ng-show="ErrMsging" id="ErrMsging" class="prodo-ErrMsging" ></div>
     


 <!-- Modal -->
    <div class="modal" id="priceConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
            </div>
             <div class="modal-body">
              Changing product price will delete that product's current holding price <br>
              Are you sure you want to change product price?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default " data-dismiss="modal" ng-click="disableEditorPrice()"> <i class="glyphicon glyphicon-remove"></i>  &nbsp; Cancel</button>
              <button type="button" ng-click="updatePrices(productPricelist)" class="btn btn-primary  " id="ChangeProductPriceOkButton" data-dismiss="modal" > <i class="fa fa-floppy-o"></i>  &nbsp; OK </button>

            </div>
            
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->


<div  ng-show="selectedBranchId  " >
<div ng-show="productPricelist.length>0" id="tabs">
    <ul id="tabPrice" class=" policyTab nav nav-pills" ng-init="tabForPrice.np = true;
      tabForPrice.hp = false; tabForPrice.ahp = false;searchPro1='' ; searchPro=''" >
      <li class="tabPolicyLi" ng-class="{active3 : tabForPrice.np == 1}" >
        <a  class="prodo-cursor" id="prodoCommentTab" ng-click="tabForPrice.np = true;
      tabForPrice.hp = false; tabForPrice.ahp = false;searchPro1='' ; searchPro=''">
         Normal Price
        </a>
      </li>

      <li class="tabPolicyLi" ng-class="{active3 : tabForPrice.hp == 1}"  >
        <a id="prodoCommentSearchTab" class="prodo-cursor" ng-click="tabForPrice.np = false;
      tabForPrice.hp = true; tabForPrice.ahp = false;searchPro1='' ; searchPro=''" >
     	 Holding Price
         </a>
      </li>

   <!--     <li class="tabPolicyLi" ng-class="{active3 : tabForPrice.ahp == 1}"  >
        <a id="prodoCommentSearchTab" class="prodo-cursor" ng-click="tabForPrice.np = false;
      tabForPrice.hp = false; tabForPrice.ahp = true;searchPro1='' ; searchPro=''" >
      	 Activate Holding Price
         </a>
      </li> -->
    </ul>
</div>



<div class="tab-content" >

 <div id="Remove" ng-show="tabForPrice.np == true" >
     <br/>
   
   





<div  ng-show="productPricelist.length>0"> <!--  first tab  -->



 <input ng-show = 'products.length > 0' class = "form-control" type = "text " ng-model = 'searchPro1' style = 'margin-bottom : 4px' placeholder = 'Filter products from the list'  ng-hide = 'products.length === 0'>
      <div ng-hide="editorPrice.editorEnabled==1" class="prodo.productAdmin1 pull-right "  id="prodo.productAdmin"  >
			
		        <a href="" class="btn btn-primary  btn-bottom-margin" ng-click="enableEditorPrice()" ><i class="fa fa-pencil-square-o "></i>  &nbsp; Update </a>

		        <br>
	 </div>	

  <form  id="Edit"  name="priceForm"   >   
 

    <table class="table child table-hover  prodo-productTableFont">
    
    <tr>
       <td colspan="5" ng-show="editorPrice.editorEnabled==1">
        
        <div  ng-show="priceForm.$dirty" class="prodo-product-Invalid">{{priceForm.price.$error}}
              <span ng-show="priceForm.$error.required">Please enter valid product price</span>
              <span ng-show="priceForm.$error.min">Product price can not be less than 0 </span>
             <!--  <span ng-show="priceForm.$error.number">Please enter valid price</span> -->
        </div> 

                  <a   ng-click="changePrice(productPricelist); " class="btn btn-primary   pull-right prodo-margin5"   ><i class="fa fa-floppy-o"></i>  &nbsp; Save</a>
                  <a class="btn btn-default   pull-right prodo-margin5"  ng-click="disableEditorPrice();" > <i class="glyphicon glyphicon-remove"></i> &nbsp; Cancel </a>
     </td>
    </tr>

    	<tr>
    		<td class="ozWidth20">
    			<b>Product Name [product code]</b>
    		</td>
    		<td class="ozWidth15">
    			<b> Current Price</b>
    		</td>
        <td class="ozWidth10">
          <b> Discount</b>
        </td>
         <td class="ozWidth15">
          <b> Discounted Price</b>
        </td>
    		<td class="ozWidth30" ng-show="editorPrice.editorEnabled==1">
    			<b> New Price</b>
    		</td>
    	</tr>

    	<tr ng-repeat="product in productPricelist | filter : searchPro1 |  orderBy:'productname'"> 
    	   <td class="ozWidth20">
    		 <span >{{product.productname}} [ {{product.productcode}} ]</span>
    		</td>
    		<td class="ozWidth15">
    			&#x20B9;   <span ng-bind="product.price "></span>
    		</td>
         <td class="ozWidth10">
           <span ng-hide="product.discount.percent=='none'"><span ng-bind="product.discount.percent" > </span>%</span>
           <span ng-show="product.discount.percent=='none'">NA</span>
        </td>
         <td class="ozWidth15">
          <span ng-hide="product.discount.percent=='none'">&#x20B9; <span ng-bind="product.discount.discountedprice.toFixed(2)" > </span></span>
          <span ng-show="product.discount.percent=='none'">NA</span>
        </td>
        <!-- class="prodo-product-Invalid" prodo-validation-->
    		<td class="ozWidth30" ng-show="editorPrice.editorEnabled==1">
    			 <input  ng-model="product.newprice"   id="prodo-product-features_textfield" class="form-control prodo-validation" ng-maxlength="50" min="0" type="number"   required  />  
    		</td>
    	</tr>
    </table>
 </form>



</div>
 </div> 
<!-- //////////////////////////  holding price //////////////////////////////////////////////////-->
  <div id="Remove" ng-show="tabForPrice.hp == true" >
    <br/>
   
    <input ng-show = 'products.length > 0' class = "form-control" type = "text " ng-model = 'searchPro' style = 'margin-bottom : 4px' placeholder = 'Filter products from the list'  ng-hide = 'products.length === 0'>

    <table class = 'table table-hover' ng-show = 'products.length > 0' >
      <tr >
        <td style = 'width : 15%'>
          <b>Product Name</b>
        </td>
        <td style = 'width : 10%'>
          <b>Current Price</b>
        </td>
        <td style = 'width: 40%'>
          <b>Product Holding Price</b>
        </td>
        <td colspan="2">
          <!-- <b>Status</b> -->
        </td>

      </tr>
      <tr ng-repeat = "list in products | filter : searchPro | orderBy:'productname' ">
        <td ng-bind = 'list.productname'></td>
        <td >
          {{list.price.currency}} {{list.price.value}} / {{list.price.uom}}
        </td>
    
        <td ng-hide = 'list.editing || list.holding_price === undefined' >

         <div style = ' float : left' ng-if = 'list.holding_price.value !== null'> {{list.holding_price.currency}} {{list.holding_price.value}}<span ng-show="list.holding_price.value"> / </span> {{list.holding_price.uom}}</div>&nbsp;

         
        </td>
        <td ng-show = 'list.holding_price === undefined '>
        </td>

          <td ng-show = 'list.editing' >
            <div > 
       <form name="priceFormHolding">

        <div  ng-show="priceFormHolding.$dirty" class="prodo-product-Invalid">{{priceForm.price.$error}}
              <span ng-show="priceFormHolding.$error.required">Please enter valid product price</span>
              <span ng-show="priceFormHolding.$error.min">Product price can not be negative number </span>
         </div> 
             <input  placeholder="Enter Holding Price" ng-model="list.holding_price.value"   id="prodo-product-features_textfield" class="form-control prodo-validation" ng-maxlength="50" min="0" type="number"   required  />  
               
         </form>
              </div>          


          </td>
           <td ng-hide ="list.editing">
           <span ng-show ="list.holding_price.value">
              <button class = 'btn  btn-primary' ng-click = 'activateHolpingPrice(list)'  ng-show = "list.holding_price   && list.holding_price.status !=='active' "> Apply Holding Price</button>
                
              <button  ng-show = "list.holding_price   && list.holding_price.status =='active' " class='btn  btn-primary' ng-click = 'deactivateHolpingPrice(list)'  ng-show = "list.holding_price   && list.holding_price.status !=='active' "> Apply Last Original Price</button>

          </span>
          </td>
          <td ng-hide = 'list.editing'>
              
              <button ng-show="list.holding_price.fromdate" class = 'pull-right  btn btn-default' ng-click = 'edit(list)' ><i class="fa fa-pencil"></i>  &nbsp; Holding Price</button>

              <button ng-hide="list.holding_price.fromdate" class = 'pull-right  btn  btn-default' ng-click = 'edit(list)' ><i class="fa fa-plus"></i>  &nbsp; Holding Price</button>
           </td>
         
            <td ng-show = 'list.editing' colspan="2">

              <a  ng-click = 'addHoldingPrice(list)' class="btn btn-primary "   ><i class="fa fa-floppy-o"></i>  &nbsp; Save</a>

     
              <a class="btn btn-default "  ng-click = 'cancel(list)' > <i class="glyphicon glyphicon-remove"></i> &nbsp; Cancel </a>


          </td>
      </tr>
    </table>



 </div> 

<!-- //////////////////////////  holding price //////////////////////////////////////////////////-->

<!--   <div id="Remove" ng-show="tabForPrice.ahp == true" >
    <br/>

 </div>  -->
</div>
</div>
 <div  class="OZ-PolicyNotAddedMsg row" ng-hide="branches.length>0" >
       <div class="col-md-12">
         <div class="no-message"> 
         <center>
           <em style="font-size:16px;"> Please add branch first to perform further operations </em>
         </center>
       </div>
      </div>
     </div>

  <div  class="OZ-PolicyNotAddedMsg row" ng-show="noProducts  && branches.length>0">
       <div class="col-md-12">
          <div  class="no-message"> 
                  <center>
                  <em style="font-size:16px;"> No Products added </em>
                  </center>
           </div>
        </div>
      </div>

      
</div>