

<div style = 'margin : 10px'>
 	<div class = 'row' >
     	<div class = 'col-md-3' style = 'margin : 10px;'>
     		APK FILE
        </div>
        <div class = 'col-md-9' style = 'margin : 10px;'>
        	<input type = 'file' class = 'form-control' ng-file-select = "onAPKSelect($files)" id = 'fileTypeApkHost'>
        </div>
    </div>
    <div class = 'row'>
   	 <div class = 'col-md-3' style = 'margin : 10px;'>     	
    	Version :
     </div>
     <div class = 'col-md-9' style = 'margin : 10px;'> 	
    	 <input type = 'text' class = 'form-control' ng-model = 'application.version'>
     </div>
    </div>
    <div class = 'row'>

    <div class = 'col-md-3' style = 'margin : 10px;'>
    	Description
    </div>

    <div class = 'col-md-9' style = 'margin : 10px;'>  	 
    	 <input type = 'text' ng-model = 'application.description' class = 'form-control'>
    </div>

    </div>
    <div>
    		 <button class = 'btn btn-info' ng-click = 'addAPKToServer()' style = 'margin : 12px; '>Upload</button>
    </div>
</div>