<div style="min-height:100px;" id="oz-signin-view" class="container" http-equiv="refresh" content="10">



	    	 <div style="width:48%;float:left;" class = "highlighrOrderContainer" >
				<div oz-clock class="clock zoomCss" style="margin:2em;" current-value = 'customers' ></div>
		          <div style="margin-left:30%" id = "test"> <h5 > Users</h5></div> 
	    	 </div>	



		 <div style="float:right" class = "highlighrOrderContainer" style = "height:10px;width:30px;">
				<div oz-clock class="clock zoomCss" current-value = 'orders' style="margin:2em;" ></div>
		           <div style="margin-left:30%"> <h5 > Orders</h5></div>
		 </div>

</div>