

<div class = 'container'>
		<div>
		    <span> Index : </span> <input type = 'text' class = 'form-control' ng-model = 'order.index'>
		</div>

		<div>
		    <span> Order Process Configuration : </span> <input type = 'text' class = 'form-control' ng-model = 'order.order_status'>
		</div>

		<div>
		    <span> Require : </span> 
		    <select class = 'form-control' ng-model = 'order.require'>
		        <option>True</option>
		        <option>False</option>
		    </select>
		</div>

		<div> 
           <button class = 'btn btn-info' ng-click = 'addOrderStatus()' style = 'margin : 5px; float : right; padding : 5px;'>Submit</button>
		</div>

		<div>
		    <table class = 'table table-hover'>
                       <tr>
                           <th style = 'width : 20%'> Index </th>
                           <th style = 'width : 20%'> Order Status </th>
                           <th style = 'width : 20%'> Require </th>
                           <th style = 'width : 40%'> Action </th>
                       </tr>
                       <tr ng-repeat = 'list in orderProcessConfig'>
                           <td ng-bind = 'list.index'></td>
                           <td ng-bind = 'list.order_status'></td>
                           <td ng-bind = 'list.require'></td>
                           <td>
                               <button class = 'btn-sm btn-warning' ng-click = 'removeOrderProcess(list.index)'> Delete </button>
                           </td>
                       </tr>
		    </table>
		</div>
</div>