<div style = 'margin-top : 5px;' >
    <tabset>
        <tab heading = 'Orders' class = 'cursorPointerHyperlink' ng-init = 'showOrderContents()' ng-click = 'trigger();showOrderContents()'  ui-sref = "oz.ozWall.ozOrderViewContent" active = 'active.init'>
<!--           <div>
               <div ng-repeat="branches in branchContent" ui-sref = "oz.ozWall.ozOrderViewContent" ng-click= "showOrderContent(branches.branchid);trigger()" ng-if = 'branchContent.length>0' style = 'border: 1px solid #ccc; width : 110px; margin : 5px ; float : left; cursor : pointer'> 
                         <div ng-bind = 'branches.branchname'></div>
                         <img  ng-src="{{providerlogo}}" src="../assets/images/if_no_org_images_available.jpg"  style = "height : 50px;height:50px;">
                </div>
          </div> -->

          <div class="prodo-productListCorousel" ng-if = 'branchContent.length>0'>
             <hr class="myhr">
                  <button class="arrowBtn prodo-arrowbtnLeft" ng-show="branchContent.length > pageSize " ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" >
                     <
                  </button>

                   <div ng-show="branchContent.length>0"  ng-repeat="branches in branchContent | startFrom:currentPage*pageSize | limitTo:pageSize " ui-sref = "oz.ozWall.ozOrderViewContent" ng-click= "showOrderContent(branches.branchid);trigger()" class = 'cursorPointerHyperlink'> 
                       <div class="prodo-productThumbnailView"   ng-class="{activeProduct : (branches.branchid === currentBranchId)}" >
              
                           <a  class="prodo-cursor"  href="" >
              
                             <p  class="prodo-AddProductBtn prodo-productNameList" ng-bind = 'branches.branchname'></p>
              
                             <img  ng-src = "{{providerlogo}}" src="../assets/images/if_no_org_images_available.jpg"  class="prodo-
                              productThumbnailImg img-rounded" style = 'width : 68px; height : 60px; padding : 4px;'>
                          </a>
        
                      </div>
                   </div>
               <button class="arrowBtn prodo-arrowbtnRight"  ng-show="branchContent.length > pageSize " ng-disabled="currentPage >= branchContent.length/pageSize - 1" ng-click="currentPage=currentPage+1" >
                   >
              </button> 
            </div>




          <div style = 'min-height : 23px'  ng-if = 'branchContent.length>0'></div>
                <div ng-if = "showSpinnerLogo === 1" style = "margin : 2%"> <h4>Loading</h4>&nbsp;<img src = '../assets/images/spinner.gif' style = "width: 14%;height: 20px;">
         </div>

              <tabset style = 'margin-top : 14px;'>
                  <tab heading = 'Orders' class = 'cursorPointerHyperlink' ng-click = "showOrderContents()" ui-sref = "oz.ozWall.ozOrderViewContent" active = 'active.init'></tab>
                  <tab heading = 'Productwise' class = 'cursorPointerHyperlink' ng-click = "showProductContent()"  ui-sref = "oz.ozWall.ozProductContent" ></tab>
                  <tab heading = 'Failed Orders' class = 'cursorPointerHyperlink' ng-click = "showFailedOrderContents()"  ui-sref = "oz.ozWall.ozFailedOrderViewContent" ></tab>
              </tabset>

        </tab>

        <tab heading = 'Configuration' class = 'cursorPointerHyperlink' ng-click = 'triggerConfigurationWizard()' ui-sref = "oz.ozWall.ozManageProductConfigurations">
          <tabset>
                <tab heading = 'Product' class = 'cursorPointerHyperlink' ui-sref = "oz.ozWall.ozManageProductConfigurations" active = 'active.category'></tab>
                <tab heading = 'Order Process' class = 'cursorPointerHyperlink' ui-sref = "oz.ozWall.ozOrderProcessCongiguration"> </tab>
                <tab heading = 'Category' class = 'cursorPointerHyperlink' ui-sref = "oz.ozWall.ozManageCategoriesTab" ></tab>
                <tab heading="Tags" ui-sref = "oz.ozWall.ozManageUserdefinedTags" class = "cursorPointerHyperlink" ></tab>
                <tab  heading="New APK Upload" ui-sref = "oz.ozWall.ozAPKUploadInterface" class = "cursorPointerHyperlink" ></tab>
                <tab heading = 'Locations' class = 'cursorPointerHyperlink' ui-sref = "oz.ozWall.ozManageLocations" ></tab>
          </tabset>
        </tab>

        <tab heading = 'Agreements'   class = 'cursorPointerHyperlink'  ng-click = 'triggerPoliciesWizard();clearContentT();getAllProviders();' ui-sref = "oz.ozWall.ozProviderAcceptance" >
          <tabset >

                     <tab heading="New Seller Acceptance" ui-sref = "oz.ozWall.ozProviderAcceptance" class = "cursorPointerHyperlink" ng-click = 'getAllProviders()' active = 'active.policies'></tab>

                      <tab heading="Manage Seller Participation" ui-sref = "oz.ozWall.ozManageSellerParticipation" class = "cursorPointerHyperlink" ></tab>

                      <tab heading="T&C" ui-sref = "oz.ozWall.ozT&CContent" class = "cursorPointerHyperlink" select = "getTemplateContent('TC');clearTemplatecontent();" ></tab>

                      <tab heading="Help" ui-sref = "oz.ozWall.ozHelp" class = "cursorPointerHyperlink" select = "getHelpContent();clearTemplatecontent()"></tab>

                      <tab heading="About" ui-sref = "oz.ozWall.ozAbout" class = "cursorPointerHyperlink" select = "getTemplateContent('AU');clearTemplatecontent()"></tab>

                      <tab heading="Seller Participation Agreement" ui-sref = "oz.ozWall.ozSellerParticipationAgreement" class = "cursorPointerHyperlink" select = "getTemplateContent('SA');clearTemplatecontent()"></tab>

                      <tab heading="Privacy" ui-sref = "oz.ozWall.ozPrivacy" class = "cursorPointerHyperlink" select = "getTemplateContent('PP');clearTemplatecontent()"></tab>

                      <tab heading = 'Transaction Processing Fees' ui-sref = 'oz.ozWall.ozSellerPayableReceivableCriteria' class = 'cursorPointerHyperlink' ></tab>
          </tabset>
        </tab>
        <tab heading = 'Analytics'  class = 'cursorPointerHyperlink' ng-click = 'triggerAnalyticsWizard();' ui-sref = "oz.ozWall.ozViewFeedback">
            <tabset>
                  <tab heading = 'Receivables' ui-sref = 'oz.ozWall.ozSellerReceivableInterface' class = 'cursorPointerHyperlink'></tab>
                  <tab heading = 'Payables' ui-sref = 'oz.ozWall.ozSellerPayableInterface' class = 'cursorPointerHyperlink'></tab>
                  <tab heading = 'Refunds' ui-sref = 'oz.ozWall.ozCustomerRefundInterface' class = 'cursorPointerHyperlink'></tab>
                  <tab heading = 'Feedbacks' active = 'active.analytics' ui-sref = "oz.ozWall.ozViewFeedback" class = 'cursorPointerHyperlink' select = 'getAllFeedbackContent()'></tab>
            </tabset>      
        </tab> 
    </tabset>
      <div >
          <div ui-view></div>
      </div>
</div>

<div ng-if = "showSOrderView === 1 && controlWallView === 0"> 
    <div class = "mainOrderContainer" >
      <div class = "highlighrOrderContainer">
           <div class = "subOrderContainer">
               <h4 style = "float:left;"><b>Sub-order No : </b><span ng-bind = "orderContentObject.suborder.suborderid"></span></h4> 
            <!--    <h4 style = "float:right;"><b>Delivery Date : </b><span ng-bind = "orderContentObject.suborder.deliverydate | date : 'yyyy-MM-dd HH:mm:ss'"></span></h4>     -->  
            </div>
            <div class = "subOrderContainer" style = 'width:100%'>
               <h4 style = "float:left;width:50%"><b>Seller Name : </b><span ng-bind = "orderContentObject.suborder.productprovider.providername"></span></h4> 
               <h4 style = "float:right;width:50%"><b>Branch Name  : </b><span ng-bind = "orderContentObject.suborder.productprovider.branchname"></span></h4>      
            </div>
            <div class = "subOrderContainer" style = 'width:100%' style = 'min-height : 70px;'>
               <h4 style = "float:left;width:50%"><b>Customer Contact No. : </b><span ng-bind = "orderContentObject.consumer.mobileno"></span></h4> 
               <h4 style = "float:right;width:50%"><b>Seller Contact No.  : </b> <span ng-bind = 'orderContentObject.suborder.productprovider.contact_supports'></span> </h4>      
            </div>

            <div class = "subOrderContainer" style = 'min-height : 95px;'>
               <div style = 'width:100%'>
                   <h4 style = "float:left;width:50%"><b>Buyers Delivery Date : </b><span ng-bind = "convertMomentFormat(orderContentObject.suborder.prefdeldtime)"></span></h4> 
                   <h4 style = "float:right;width:50%"><b>Buyers Time Slot  : </b><span ng-if = 'orderContentObject.suborder.prefdeltimeslot !== undefined'><span ng-bind = "orderContentObject.suborder.prefdeltimeslot.from"></span> To <span ng-bind = "orderContentObject.suborder.prefdeltimeslot.to"></span></span></h4>      
               </div>

               <div style = 'width:100%'>
                   <h4 style = "float:left;width:50%"><b>Seller Delivery Date : </b><span ng-bind = "convertMomentFormat(orderContentObject.suborder.deliverydate)"></span></h4> 
                   <h4 style = "float:right;width:50%"><b>Seller Time Slot  : </b><span ng-if = 'orderContentObject.suborder.deliverytimeslot !== undefined'><span ng-bind = "orderContentObject.suborder.deliverytimeslot.from"></span> To <span ng-bind = "orderContentObject.suborder.deliverytimeslot.to"></span></span> </h4>      
               </div>

            </div>


            <div class = "fontsize"><u><b>Status : </b><span ng-bind = "orderContentObject.suborder.status"></span></u></div>
        <div class = 'row' style = 'border : 1px solid #ccc; ' >
                 <div  class="col-md-3">  <h4> Product Name </h4></div>
                 <div  class="col-md-3" >  <h4> Quantity </h4></div>
                 <div  class="col-md-3" style = 'text-align : right'>  <h4> Price per unit &nbsp;{{orderContentObject.suborder.products[0].currency}}</h4></div>
                  <div  class="col-md-3" style = 'text-align : right'>  <h4> Total &nbsp;{{orderContentObject.suborder.products[0].currency}}</h4></div>
        </div>
        <div class = 'row' style = 'border-bottom : 1px solid #ccc; border-bottom : 0px'>
         <div class="row rowSideMargin" ng-repeat="product in orderContentObject.suborder.products" style = 'border-bottom : 1px solid #ccc'> 
              <div  class="col-md-4">  
                 <span class=" fontsize" > 
                       <span style="">
                       <a href="" ng-init="productMassage = false" ng-click="productMassage = productMassage === false ? true: false;" ng-show="product.productconfiguration.length>0">
                            <span class="fa fa-cog fa-lg" style="padding-right:5px"> </span>
                       </a>

                      <a  ng-show="product.productconfiguration.length<=0">
                            <span class="fa fa-cog fa-lg" style="padding-right:5px; color : #FFFFFF"> </span>
                       </a>
                      </span>
                  {{product.productname}} 
                  <div class="OZ-cakeMessage" ng-show="productMassage==1">
                      <table style="margin:2px ;background-color:rgb(246, 241, 246)" class="borderless table table-condensed ">
                        <tr>
                          <td class="width25 fontsize"><span class=" bold">Name </span></td>
                          <td class="width50 fontsize"><span class=" bold">Value </span></td>
                          <td class="width25 fontsize"><span class=" bold">Price </span></td>
                        </tr>
                        </table>
                      <table style="margin:2px; " class="borderless table table-condensed fontsize" ng-repeat="config in product.productconfiguration">
                        <tr ng-show="config.prod_configtype =='msg'">
                          <td class="width25"><span class=" "> Message </span></td>
                          <td class="width50"><span class=" breakword"> {{config.data.msg}}</span></td>
                          <td class="width25"> {{config.prod_configprice.value}} / {{config.prod_configprice.uom}}</td>
                        </tr>
                        <tr ng-show="config.prod_configtype =='ftp'">
                          <td class="width25"><span class=" "> Foodtype </span></td>
                          <td class="width50"><span class=" breakword">  {{config.data.ftp}}</span></td>
                          <td class="width25"> {{config.prod_configprice.value}} / {{config.prod_configprice.uom}}</td>
                        </tr>
                        <tr ng-show="config.prod_configtype =='ppr'">
                          <td class="width25"><span class=" "> Photo print </span></td>
                          <td class="width50"> <img class="orderConfigImg" style="height:50px; width:50px" ng-src="{{config.data.ftp}}" alt-SRC src="../assets/images/if_no_org_images_available.jpg"  ></td>
                          <td class="width25"> {{config.prod_configprice.value}} / {{config.prod_configprice.uom}}</td>
                        </tr>
                      </table>
                   </div>
                 </span>
              </div>
              <div  class="col-md-2 fontsize">
                 <span class=" oz-contentsRight">{{product.qty}} {{product.uom}}</span>
              </div>
              <div  class="col-md-3 fontsize" style = 'text-align : right'>
                 <span class=" oz-contentsRight"> {{product.orderprice/product.qty}}</span>
              </div>
              <div  class="col-md-3 fontsize" style = 'text-align : right'>
                 <span class="marginLeft15 oz-contentsRight " > {{product.orderprice}}</span>
              </div>
         </div> 
        </div>
       </div>
      </div>
      <button class = 'btn btn-info' style = 'float:right' ng-click = 'resetToMain()'>Go Back</button>
  </div>
