

<div ng-if = 'providers.list.length !== 0'><br><br><table class = "table table-hover">
<tr >
    <th> Seller Name</th>
    <th>Seller Description</th> 
  <!--   <th> Number of Branches </th> -->
    <th> Status </th>
    <th> Action </th> 
</tr>

<tr ng-repeat = "provider in providers.list">
    <td>
    	

    	<img ng-src = "{{provider.providerlogo.image}}" style="height : 30px; width : 30px;">
    	<span ng-bind = "provider.providername"></span>
    </td>


    <td ng-bind = "provider.providerdescription">

    </td>
    <td ng-bind = "provider.status"></td>
    <td>
    				<button ng-click='accept(provider.providerid)'>Accept</button>
    				<!-- <button ng-click='reject(provider.providerid)'> Reject </button> -->
    </td>
    
</tr>

</table>
</div>





<div ng-if = "providers.list.length === 0 ">
    <h4> No providers request awaits for approval</h4>
</div>