

<!-- percent -->
<div style = 'border: 1px solid #EEE8E8; padding : 12px ;border-radius: 6px;' class="">
	<!-- <div class = 'col-xs-12 col-md-12'>
		<div class = ''></div>
	</div> -->


    <input type = 'text' class = 'form-control' ng-model = 'search' ng-hide = 'providers.length === 0' placeholder = 'Search Seller from the List'>
	<table class = 'table table-hover' ng-if = 'providers.length != 0'>
		<tr>
			<th style = 'width : 30%'>Seller Name</th>
            <th style = 'width : 30%'>Transaction Processing Fees</th>
            <th style = 'width : 40%'>Action</th>
		</tr>
		<tr ng-repeat = 'provider in providers | filter : search'>
			<td ng-bind = 'provider.providername' ></td>
		<!-- 	<td ng-if = 'provider.editing'><input type = 'text' class = 'form-control' ></td> -->
			<td ng-bind =  'provider.percent' ng-hide = 'provider.editing'></td>
			<td ng-if = 'provider.editing'> <input type = 'text' ng-model = 'provider.percent' class = 'form-control'></td>
			<td ng-hide = 'provider.editing'> <button class = 'btn btn-sm btn-info' ng-click = 'providerPercentEdit(provider)'>Edit</button></td>
			<td ng-if = 'provider.editing'><button class = 'btn btn-sm btn-info' ng-click = 'providerPercentEditCancel(provider)'>Cancel </button> <button class = 'btn btn-sm btn-info' ng-click = 'providerPercentChangeFunction(provider)'> Save </button></td>
		</tr>
	</table>

	 <div  ng-if = 'providers.length === 0'>
              <div style="padding:40px; opacity: .8;margin-top: 2px;margin-bottom: 1px; color: rgb(80, 74, 74);background-color:#F1F1F1; letter-spacing: 1px; margin:10px;" class="row">
                <div class="col-md-12">
                  <div class="no-message">
                    <center>
                      <p style="font-size: 14px; font-weight:bold;">As of now there are no providers added.</p>      
                      <p style="font-size: 12px;">You can edit and manage payable and receivable percent criteria for individual sellers from this interface .</p>
                    </center>
                  </div>
                </div>
              </div>
      </div>
</div>
<!--       <tab heading="Seller Payable Receivable" ui-sref = "oz.ozWall.ozSellerPayableReceivableCriteria" class = "cursorPointerHyperlink" ></tab>
                 <tab heading = "New APK Upload Interface" ui-sref = "oz.ozWall.ozAPKUploadInterface" class = "cursorPointerHyperlink" ></tab>
                      <tab heading = 'Receivables' ui-sref = "oz.ozWall.ozSellerReceivableInterface" class = "cursorPointerHyperlink" select = ""></tab>
                  <tab heading = 'Payables' ui-sref = "oz.ozWall.ozSellerPayableInterface" class = "cursorPointerHyperlink" ></tab>
                  <tab heading = 'Refunds' ui-sref = "oz.ozWall.ozCustomerRefundInterface" class = "cursorPointerHyperlink"   ></tab> -->
         