


<div ng-if = "templates.sa === ''">
    <h4>Currently no templates added</h4>
     <br><br>
    <text-angular name="content" ng-model="template.content " ta-toolbar-button-class="texteditor-btn btn btn-default" ta-toolbar="[['h1','h2','h3', 'h4', 'h5', 'h6', 'p', 'quote','bold','italics','underline','ul', 'ol', 'undo', 'redo', 'clear', 'justifyLeft', 'justifyCenter', 'justifyRight']]"></text-angular>

<button class = "btn" ng-click = "sendTemplateContent('SA')"> Save </button>
</div>

<div ng-if = "templates.sa !== ''">

     <div>
        <div ng-bind-html = "templates.sa"></div>
    </div>
    <botton class = 'btn btn-info' ng-click = "updateCurrentTemplate(templates.sa)">Edit</botton>
      <botton class = 'btn btn-info' ng-click = "updateCurrentTemplateContent('sa')" ng-if = 'showTextAngular === 1'>Save</botton>
</div>

<div ng-if = "showTextAngular === 1">
     <text-angular name="content" ng-model="template.content" ta-toolbar-button-class="texteditor-btn btn btn-default" ta-toolbar="[['h1','h2','h3', 'h4', 'h5', 'h6', 'p', 'quote','bold','italics','underline','ul', 'ol', 'undo', 'redo', 'clear', 'justifyLeft', 'justifyCenter', 'justifyRight']]"></text-angular>
</div>
